<div>
    <auth-navigation></auth-navigation>
</div>
<div class="auth-main">
    <div class="auth-block text-center">
        <h1>Verify Ethereum address</h1>
        

        <form class="form-horizontal">
          <div ng-hide="gotCompanyName">
            <div class="row form-group">
                <div class="col-sm-12 input-block">
                    <input class="form-control"  placeholder="Please paste a valid Ethereum address" type="text" ng-model="ethereum">
                </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                  <button ng-click="addEthereumAddress()" class="btn btn-primary btn-verify-mobile pull-right">Next</button>
              </div>
            </div>
          </div>
        </form>

    </div>
</div>
