<div>
    <auth-navigation></auth-navigation>
</div>
<div ng-hide="loadingEtheriumView" class="auth-main">
    <div class="auth-block verification-text">
        <h1>Add ethereum address</h1>

        <p>Note that this your ethereum receiving address for ECH tokens. Please make sure that the address is
            correct.</p>
        <br>

        <form class="form-horizontal">
            <div>
                <div class="row form-group">
                    <div class="col-sm-12 input-block">
                        <input class="form-control" placeholder="Please paste a valid ethereum address" type="text"
                               ng-model="ethereum.address">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button ng-disabled="!ethereum.address" ng-click="addEthereumAddress(ethereum.address)"
                                class="btn btn-primary btn-verify-mobile pull-right">Done
                        </button>
                        <button ng-click="goToNextView()" class="btn btn-danger btn-verify-mobile pull-left">Skip
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="auth-main " ng-show="loadingEtheriumView">
    <div class="auth-block verification-text">
        <loading-image></loading-image>
    </div>
</div>
