<div ba-panel ba-panel-title="Confirm Withdrawal" ba-panel-class="light-text">
    <div class="confirm-transaction">
        <p>You are about to withdraw <strong>{{selectedCurrency.symbol}} {{withdrawalData.amount}}</strong> from <strong>{{withdrawalData.user}}</strong>
        </p>
    </div>
    <div >
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-disabled="onGoingTransaction" ng-click="createWithdrawal()" class="btn btn-primary pull-right">Confirm</button>
            <button ng-disabled="onGoingTransaction" ng-click="goToView('createWithdrawal')"
            class="btn btn-info pull-right margin-right-10">Back</button>
        </div>
    </div>
</div>
