<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Verify email</h4>
    </div>
    <div class="modal-body">
        <p class="divider">Are you sure you want to manually verify <strong>{{email.email}}</strong>
            for <strong>{{user.first_name}} {{user.last_name}}</strong></p>
        <p>By verifying this email address the transaction backlog associated to <strong>{{email.email}}</strong>
            will also be credited to <strong>{{user.first_name}} {{user.last_name}}</strong>.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-left" ng-click="$dismiss()">Close</button>
        <button ng-click="verifyEmail()" ng-disabled="verifyingEmail" type="button" class="btn btn-primary pull-right">Verify</button>
    </div>
</div>
