<div ng-show="!addingToken">
    <tokens-list></tokens-list>
</div>
<div ng-show="addingToken">
    <add-token-view></add-token-view>
</div>
<div ba-panel ba-panel-title="Change password" ba-panel-class="light-text">
    <button ng-click="changePassword()" class="btn btn-primary pull-right ">Next</button>
</div>
<div ba-panel ba-panel-title="Set up two-factor authentication" ba-panel-class="light-text">
    <h4 style="margin-top: 10px">Coming soon</h4>
    <!--<button ng-click="enableTwoFactorAuth()" class="btn btn-primary pull-right">Next</button>-->
</div>
