<div ba-panel ba-panel-title="API Token" ba-panel-class="light-text">
    <p>This is the company's authentication token, it can be used for access to the admin API.</p>
    <table class="table fees-table table-striped">
        <tbody>
        <tr>
            <td>76c880a207228341faabf7111921d55b09d47601</td>
        </tr>
        </tbody>
    </table>
</div>
<div ba-panel ba-panel-title="Change Password" ba-panel-class="light-text">
    <button ng-click="changePassword()" class="btn btn-primary pull-right ">Next</button>
</div>
<div ba-panel ba-panel-title="Set up two-factor authentication" ba-panel-class="light-text">
    <button ng-click="enableTwoFactorAuth()" class="btn btn-primary pull-right">Next</button>
</div>