<div ng-hide="loadingTierSwitches && (tierLevelsForSwitches.length > 0)" class="tier-limits">
    <uib-tabset active="activeTabIndex">
        <uib-tab ng-repeat="tierLevel in tierLevelsForSwitches" select="selectTier(tierLevel)" heading="Tier {{tierLevel}}">
            <div ng-hide="editingTierSwitches">
                <div ng-show="tiersSwitchesList.length > 0" ba-panel class="setting-bank-accounts" ba-panel-title="Tier switches" ba-panel-class="light-text with-scroll">
                    <table class="table fees-table table-striped setting-bank-accounts-table">
                        <tr class="black-muted-bg divider">
                            <th><strong>Tx type</strong></th>
                            <th><strong>Subtype</strong></th>
                            <th><strong>Enabled</strong></th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="tierSwitch in tiersSwitchesList">
                            <th title="{{tierSwitch.tx_type}}" ng-bind="tierSwitch.tx_type | capitalizeWord | limitTo: '35'"></th>
                            <th title="{{tierSwitch.subtype ? tierSwitch.subtype : 'None'}}" ng-bind="tierSwitch.subtype ? tierSwitch.subtype : 'None'| limitTo: '35'"></th>
                            <th title="{{tierSwitch.enabled}}" ng-bind="tierSwitch.enabled | capitalizeWord | limitTo: '35'"></th>
                            <th class="rehive-table-row-last-child">
                                <button ng-click="openTierSwitchesModal('app/pages/currency/settings/tierSwitches/tierSwitchesModal/tierSwitchesModal.html','md',tierSwitch)" class="btn btn-danger pull-right rehive-settings-buttons">Delete</button>
                                <button ng-click="toggleTierSwitchEditView(tierSwitch)" class="btn btn-primary pull-right rehive-settings-buttons">Edit</button>
                            </th>
                        </tr>
                    </table>
                </div>
                <div ba-panel ng-show="tiersSwitchesList.length == 0">
                    <i>No switches are available for this tier.</i>
                </div>
                <div ba-panel ba-panel-title="Add tier switch" ba-panel-class="light-text with-scroll">
                    <form name="tierSwitchForm" class="custom-form">
                        <div class="form-group">
                            <label><strong>Transaction type</strong> <span class="required-icon">*</span></label>
                            <br>
                            <select class="form-control pointer" ng-model="tierSwitchesParams.tx_type" ng-options="option for option in txTypeOptions" required>
                            </select>
                        </div>
                        <div class="form-group">
                            <label><strong>Subtype</strong></label>
                            <input type="text" class="form-control" ng-model="tierSwitchesParams.subtype" placeholder="Enter subtype name"/>
                        </div>
                        <div class="form-group">
                            <label><strong>Enabled</strong></label>
                            <br>
                            <select class="form-control pointer" ng-model="tierSwitchesParams.enabled" ng-options="bool for bool in boolOptions" required>
                            </select>
                        </div>
                        <div class="form-group">
                            <button ng-click="addTierSwitch(tierSwitchesParams)" ng-disabled="!tierSwitchForm.$valid" class="btn btn-primary pull-right">Add</button>
                        </div>
                    </form>
                </div>
            </div>
            <div ng-show="editingTierSwitches">
                <edit-tier-switches></edit-tier-switches>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
<div ba-panel ng-show="!loadingTierSwitches && tierLevelsForSwitches.length == 0">
    <i>No tiers are available for this currency.</i>
</div>
<div ba-panel ng-show="loadingTierSwitches">
    <loading-image></loading-image>
</div>