<div ba-panel  ba-panel-title="Create Deposits" ba-panel-class="light-text">
    <form name="depositForm" class="deposit-form">
        <div class="form-group">
            <label><b>User</b> <span class="required-icon">*</span></label>
            <input type="email" ng-model="depositData.user" class="form-control" placeholder="E.g email@domain.com" required>
        </div>
        <div class="form-group">
            <label><b>Amount</b> <span class="required-icon">*</span></label>
            <input type="number" ng-model="depositData.amount" class="form-control"  placeholder="E.g 100000000" required>
        </div>
        <div class="form-group">
            <label><b>Reference</b></label>
            <input type="text" ng-model="depositData.reference" class="form-control"  placeholder="E.g # 1234">
        </div>
        <div class="form-group">
            <label></label>
            <div ng-hide="showAdvancedOption">
                <a class="pointer" ng-click="displayAdvancedOption()">Advanced Option</a>
            </div>
            <div ng-show="showAdvancedOption">
                <label  class="checkbox-inline custom-checkbox nowrap">
                    <input  type="checkbox"  ng-model="depositData.confirm_on_create">
                    <span>Confirm on create</span>
                </label>
                <i uib-tooltip-html="'<b>Complete deposit immediately after creation, it will override the normal behaviour of requiring an update or manual “completion” via the dashboard</b>'" class="ion-information-circled"></i>
            </div>
        </div>
        <div class="form-group">
            <button ng-disabled="!depositForm.$valid" ng-click="goToView('confirmDeposit')" class="btn btn-primary pull-right">Next</button>
        </div>
    </form>
</div>
