<div ng-show="transactions.length > 0" class="divider">
    <table class="table table-condensed table-striped table-hover ">
        <tr class="black-muted-bg">
            <td><strong>Email</strong></td>
            <td><strong>Amount</strong></td>
            <td><strong>Type</strong></td>
            <td><strong>Transaction hash</strong></td>
            <td><strong>Confirmations</strong></td>
            <td><strong>Rehive code</strong></td>
            <td><strong>Status</strong></td>
            <td><strong>Created</strong></td>
        </tr>
        <tr ng-repeat="transaction in transactions | orderBy: '-created'" data-toggle="modal"
            ng-click="openModal('app/pages/services/bitcoinService/bitcoinServiceTransactions/bitcoinServiceTransactionsModal/bitcoinServiceTransactionsModal.html', 'lg',transaction)"
            class="editable-row pointer">
            <td width="10%"><div title="{{transaction.user.email}}" class="transactions-list-element" ng-bind="transaction.user.email"></div></td>
            <td width="4%"><div title="{{transaction.amount}}" class="transactions-list-element" ng-bind="transaction.amount"></div></td>
            <td width="5%"><div title="{{transaction.tx_type}}" class="transactions-list-element" ng-bind="transaction.tx_type | capitalizeWord"></div></td>
            <td width="15%"><div title="{{transaction.transaction_hash}}" class="transactions-list-element" ng-bind="transaction.transaction_hash | limitTo: '17'"></div></td>
            <td width="10%"><div title="{{transaction.confirmations}}" class="transactions-list-element" ng-bind="transaction.confirmations"></div></td>
            <td width="8%"><div title="{{transaction.rehive_code}}" class="transactions-list-element" ng-bind="transaction.rehive_code"></div></td>
            <td width="10%"><div title="{{transaction.status}}" class="transactions-list-element" ng-bind="transaction.status"></div></td>
            <td width="20%"><div title="{{transaction.created | date:'mediumDate'}} {{transaction.created | date:'shortTime'}}" class="transactions-list-element">
              {{transaction.created | date:'mediumDate'}} {{transaction.created | date:'shortTime'}}</div></td>
        </tr>
    </table>
    <div>
        <p uib-pagination boundary-links="true" items-per-page="pagination.itemsPerPage"  total-items="transactionsData.count" ng-model="pagination.pageNo"
           max-size="pagination.maxSize" class="pagination-sm pull-right transaction-history-pagination" force-ellipses="true" ng-change="getLatestTransactions()"
           previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
    </div>
</div>
<div ng-show="transactions.length == 0">
    <i ng-hide="transactionsStateMessage == ''" ng-bind="transactionsStateMessage"></i>
    <loading-image ng-show="transactionsStateMessage == ''"></loading-image>
</div>
