<div ba-panel class="depositsMenu" ba-panel-title="Manage Withdrawals ({{selectedCurrency.symbol}} {{selectedCurrency.code}})" ba-panel-class="light-text">
    <img ng-src="{{currencyImageUrl}}" class="imageCenter" width="100" height="100" alt="token Image">
    <hr>
    <div ng-click="toggleWithdrawalView('withdrawal')" class="pointer depositsMenuOptions">
        <h3>Withdraw <i class="pull-right ion-chevron-right"></i></h3>
    </div>
    <hr>
    <div ng-click="toggleWithdrawalView('pending')" class="pointer depositsMenuOptions">
        <h3>Pending <i class="pull-right ion-chevron-right"></i></h3>
    </div>
</div>