<div ba-panel class="menu-box" ba-panel-title="Manage Withdrawals" ba-panel-class="light-text">
    <div class="menu-hex-container">
        <div class="hexagon"></div>
        <div class="hex-over">{{selectedCurrency.code}}</div>
    </div>
    <hr class="no-margin">
    <div ng-click="toggleWithdrawalView('withdrawal')" class="pointer menu-box-options">
        <h5>Withdraw <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="toggleWithdrawalView('pending')" class="pointer menu-box-options">
        <h5>Pending <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
</div>
