<div ba-panel class="deposits-menu" ba-panel-title="Manage Withdrawals" ba-panel-class="light-text">
    <img ng-src="{{currencyImageUrl}}" class="image-center" width="100" height="100" alt="token Image">
    <hr class="no-margin">
    <div ng-click="toggleWithdrawalView('withdrawal')" class="pointer deposits-menu-options">
        <h5>Withdraw <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="toggleWithdrawalView('pending')" class="pointer deposits-menu-options">
        <h5>Pending <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
</div>