.auth-nav{
  background-color: $primary;
  height: 67px;
  width: 100%;
}

.auth-nav-table{
  height: 67px;
  width: 100%;
  display: table
}

.auth-nav-table > .auth-nav-cell{
  display: table-cell;
  vertical-align: middle;
}

.auth-nav-table > .auth-nav-cell > a > .auth-nav-buttons {
  margin-right: 20px;
  padding: 5px;
  width: 100px;
  background-color: $primary;
  &:hover{
    border: 1px solid white;
    border-radius: 2px;
  }
  &:active{
    border: 1px solid white;
    border-radius: 2px;
  }
  &:focus{
    border: 1px solid white;
    border-radius: 2px;
  }
}

.auth-nav-table > .auth-nav-cell > a > .active-auth-nav{
  border: 1px solid white;
  border-radius: 2px;
}

.auth-nav-table > .auth-nav-cell > .auth-nav-user{
  color: white;
  font-size: 16px;
  margin-right: 20px;
  display: block;
  vertical-align: middle;
}