.back-btn {
    background: #535653!important;
    border-color: #535653!important;
}

.otp-input {
  margin-bottom: 20px!important;
}

.otp-number {
  height: 35px;
  padding-left: 10px;
  width: 100%;
}

.otp-text {
  padding: 0px 30px 0px 20px;
  text-align: left;
  font-size: 16px;
  line-height: 1.4;
}