.divider{
  margin-bottom: 20px;
}

.currency-logo{
  height: 60px;
  width: 60px;
  margin: 10px 0;
}

.table > tbody > tr > td{
  vertical-align: middle;
}

.hr-top-border{
  border-top: 1px solid gainsboro;
}

.button-width-100-no-right-margin{
  margin: 10px 0 10px 10px;
  width: 100px;
}

.table > tbody > tr > .rehive-table-row-last-child:last-child {
  padding-right: 0;
}

.table > tbody > .dashboard-currencies-table-row > td {
  line-height: 20px;
}

.pointer{
  cursor: pointer;
}
