.panel .custom-panel-heading {
  height: 130px;
  text-align: center;
  width: 100%;
  display: table;
}

.panel .custom-panel-heading h1 {
  display: table-cell;
  vertical-align: middle;
  font-size: 34px;
  color: white;
  margin: 0;
}

.accountBalance-panel-body {
  margin: 15px 0 15px 15px;
}

.accountBalance-panel-body > p {
  font-size: 20px;
  padding: 10px 0 10px 0;
  &:hover {
    color: $primary;
    cursor: pointer;
  }
}

.custom-buy-with-header {
  margin: 0;
  padding: 10px;
}

.custom-form-body {
  margin-top: 30px;
}

.make-payment-notice {
  text-align: center;
  padding: 35px;
  font-size: 16px;
  line-height: 1.2;
}

.make-payment-final {
  padding: 35px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.make-payment-scan {
  padding: 0 20px 0 20px;
  text-align: center;
  line-height: 1.3;
  font-size: 14px;
}

.make-payment-image {
  margin: -16px;
}

.make-payment-copy {
  width: 100%;
  margin: 20px 20px 0 2px;
  padding: 10px;
}

.make-payment-time {
  padding: 10px 20px 0 0;
  font-size: 26px;
}

.make-payment-cancel {
  margin: 0 15px 10px 10px;
  background: #a5a8ac !important;
  border-color: #a5a8ac !important;
}

.make-payment-table {
  font-size: 16px;
  padding: 30px 10px 0 10px;
}