.identity-block {
  position: relative;
  width: 700px;
  margin: 7% auto;
  background-color: white;
  border-radius: 0;
  color: #000;
  padding: 0 20px 20px 20px;
  h1 {
    font-weight: $font-light;
    margin-bottom: 20px;
    text-align: left;
  }
  p {
    font-size: 16px;
  }
  a {
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease;
    color: $primary;
    &:hover {
      color: $primary-dark;
    }
  }

  .control-label {
    padding-top: 11px;
    color: $text-color;
  }

  .form-group {
    margin-bottom: 12px;
  }
}

.identity-form{
  padding: 20px 100px 20px 40px;
}

.identity-title {
  color: #cbcbcb;
}

.itentity-label {
  text-align: right!important;
  line-height: 35px;
  p {
    font-size: 18px;
    font-weight: 600;
  }
}

.identity-button {
  margin-top: 40px;
  width: 160px!important;
}
