.form-group .register-country-select .register-country-select-label {
  font-size: 18px
}

.personal-details-div > .personal-details-left {
  padding: 0 6px 0 15px;
}

.personal-details-div > .personal-details-right {
  padding: 0 15px 0 6px;
}

.modal-content > .col-md-12 {
    background-color: white!important;
}

.modal-body-buttons {
  padding: 15px 15px 0px 15px;
}

.btn-auth {
  color: #ffffff;
  width: 100%;
}

.custom-password-reset-text {
  text-align: left;
}

.input-form-date {
  color: #6b6b6b;
    background-color: transparent;
    border: 1px solid #e7e7e7;
    width: 100%;
    padding: 10px;
}

.step-number {
  margin-top: -22px;
  font-size: 18px;
  color: #9aa2a2;
}

.rp-block {
  margin: 20px auto!important;
}