.accordian-buttons{
  &> a > button{
    margin-bottom: 20px;
    width: 100%;
  }
  &> a > button:first-child{
    padding-left: 0;
  }
  &> a > button:last-child{
    padding-right: 0;
  }
}

.notification-webhooks-buttons{
  width: 100%;
}

.rehive-webhook-div-left{
  padding: 0 15px 0 0;
}

.rehive-webhook-div-right{
  padding: 0 0 0 15px;
}