.setting-bank-accounts .setting-bank-accounts-table > tbody > tr > th{
  vertical-align: middle;
}

.rehive-settings-buttons{
  width: 60px;
  margin: 0 0 0 12px;
}

.admin-emails .admin-emails-table  > tbody > tr > th{
  vertical-align: middle;
}

textarea {
  resize: vertical;
}