.setting-bank-accounts .setting-bank-accounts-table > tbody > tr > th{
  vertical-align: middle;
}

.rehive-settings-buttons{
  width: 60px;
  margin: 0 0 0 12px;
}

.margin-bottom-ten-px{
  margin-bottom: 10px;
}

textarea {
  resize: vertical;
}