//.menu-box {
//  width: 350px;
//}

.ba-heading {
  padding-bottom: 10px;
}

.ba-heading h2 {
    margin-top: 5px;
  }

.bank-account-title {
  font-size: 17px;
  vertical-align: middle !important;
}

.bank-account-back {
  margin-right: 10px;
}

.menu-box-options {
  padding: 5px;
  &:hover {
    background-color: #f5f5f5;
  }
}

.margin-left-10 {
  margin-left: 10px;
}