.settings-menu-heading {
    margin-bottom: 20px;
}

.settings-menu-heading {
  margin: 15px 0px;
}

.bank-account-title {
    font-size: 17px;
    vertical-align: middle!important;
}

.bank-account-back {
  margin-right: 10px;
}

.menu-box-options{
  padding: 4px;
  &:hover{
    background-color: #f5f5f5;
  }
}