.image-center{
  display: block;
  margin: 0 auto 15px auto;
}

.image-overview{
  display: block;
  margin-bottom: 21px;
}

.margin-right-10{
  margin-right: 10px;
}

.menu-box .menu-box-options{
  padding: 5px 0;
  box-sizing: border-box;
}

.menu-box .menu-box-options:hover{
  background-color: #f5f5f5;
}

.custom-form .required-icon{
  color: #ff7171;
}

.menu-box > .panel > .panel-body{
  padding: 15px 10px;
}

.menu-box > .panel > .panel-heading{
  padding: 14px 10px;
}

.menu-box .menu-box-options > h5 {
  padding: 0 4px 0 4px;
}

.apply-button{
  button{
    width: 100%;
  }
}

.metadata pre{
  margin: 0 0 20px 0;
  border-radius: 0;
  padding: 5px;
  width: 100%;
  white-space: pre-wrap;
}

.transaction-details-button{
  width: auto;
  padding: 6px
}

.subscript{
  margin-top: 3px;
  font-size: small;
}

.fees-table > tbody > tr > td {
  padding: 6px;
}

.tier-limits .tab-content{
  padding: 0;
}

.tier-form .panel-body h2{
 margin: 0 0 10px 0;
}

.transaction-history-pagination{
  margin-bottom: 0;
}

.confirm-transaction > p {
  margin-bottom: 20px;
}

@media screen and (max-width: $resXL) {
  .transactions-list-element{
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}