// by Aquibur Rahman Khan

.image-center{
  display: block;
  margin: 0 auto 15px auto;
}

.image-overview{
  display: block;
  margin-bottom: 21px;
}

.margin-right{
  margin-right: 10px;
}

.deposits-menu .deposits-menu-options{
  padding: 5px 0;
  box-sizing: border-box;
}

.deposits-menu .deposits-menu-options:hover{
  background-color: #f5f5f5;
}

.deposit-form .required-icon{
  color: #ff7171;
}

.deposits-menu > .panel > .panel-body{
  padding: 15px 10px;
}

.deposits-menu > .panel > .panel-heading{
  padding: 14px 10px;
}

.apply-button{
  button{
    width: 100%;
  }
}

.metadata pre{
  margin: 0 0 20px 0;
  border-radius: 0;
  padding: 5px;
  width: 40%
}

.transaction-details-button{
  width: auto;
  padding: 6px
}

.subscript{
  margin-top: 3px;
  font-size: small;
}

.fees-table > tbody > tr > td {
  padding: 6px;
}

.tier-limits .tab-content{
  padding: 0;
}

.tier-form .panel-body h2{
 margin: 0 0 10px 0;
}

.transaction-history-pagination{
  margin-bottom: 0;
}

.confirm-transaction > p {
  margin-bottom: 20px;
}