.user-details-table > tbody > tr > th {
  padding: 6px;
  vertical-align: middle;
}

.user-details-table > tbody > tr > .custom-table-th {
  padding: 6px 4px 6px 6px;
}

.user-details-table > tbody > tr > th:last-child{
  padding: 6px 0 6px 6px;
}

.user-details-table{
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}

.user-accounts-btn{
  width: 80px;
}

.user-account-balance-overflow{
  width: 85px;
  overflow-x: hidden;
  text-overflow: ellipsis;

}

.account-settings-table > tbody > tr> td {
  line-height: 22px;
}

.documentImage{
  background-image: url('../../assets/img/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
}