.user-details-table > tbody > tr > th {
  padding: 6px;
  vertical-align: middle;
}

.user-details-table > tbody > tr > th:last-child{
  padding: 6px 0 6px 6px;
}

.user-accounts-btn{
  width: 80px;
}

.user-account-balance-overflow{
  width: 85px;
  overflow-x: hidden;
  text-overflow: ellipsis;

}

.account-settings-table > tbody > tr> td {
  line-height: 22px;
}