.user-details-table > tbody > tr > th {
  padding: 6px;
  vertical-align: middle;
}

.user-details-table > tbody > tr > th:last-child{
  padding: 6px 0 6px 6px;
}

.user-accounts-btn{
  width: 80px;
}
