.verification-text{
 box-sizing: border-box;
  padding: 10px;
 & > p{
   color:#666;
   font-size: 14px;
  }
}

.verification-link{
  cursor: pointer;
  & > p{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
}

.verification-button{
  display: block;
  margin: auto;
}

.register-note{
  margin-bottom: 18px;
  display: block;
}

.divider{
  margin-bottom: 20px;
}

.pointer{
  cursor: pointer;
}