.mobile-number{
    padding-right: 225px!important;
    padding-left: 75px!important;
    height: 34px;
}

.input-block{
  margin-bottom: 20px;
}

.intl-tel-input.allow-dropdown .selected-flag {
    width: 50px!important;
}