<div ng-hide="loadingCurrencies" ba-panel ba-panel-title="Currencies" ba-panel-class=" with-scroll" >
    <div>
        <button class="btn btn-success pull-right divider" ng-mousedown="openViewInNewTab($event,'/#/currency/add')" ng-click="goToAddCurrency()">Add Currency</button>
    </div>
    <table class="table">
        <tr class="black-muted-bg">
            <td><strong>Logo</strong></td>
            <td><strong>Total balance</strong></td>
            <td><strong>Pending debits</strong></td>
            <td><strong>Pending credits</strong></td>
            <td><strong>24h Volume</strong></td>
            <td></td>
        </tr>
        <tr ng-repeat="currency in currencies" class="editable-row dashboard-currencies-table-row">
            <td width="10%">
                <div class="dashboard-currencies-hexagon-container">
                    <div class="dashboard-currencies-hexagon"></div>
                    <div class="dashboard-currencies-hex-over">{{currency.code}}</div>
                </div>
            </td>
            <td width="12%"><i>Coming soon</i></td>
            <td width="12%"><i>Coming soon</i></td>
            <td width="12%"><i>Coming soon</i></td>
            <td width="12%"><i>Coming soon</i></td>
            <td class="rehive-table-row-last-child">
                <button ng-mousedown="openViewInNewTab($event,'/#/currency/overview')"
                        ng-click="goToView(currency,'/currency/overview')" class="btn btn-primary pull-right rehive-button-no-right-margin">Overview</button>
                <button ng-mousedown="openViewInNewTab($event,'/#/users')"
                        ng-click="goToView(currency,'/users')" class="btn btn-primary pull-right rehive-button-no-right-margin">Users</button>
                <button ng-mousedown="openViewInNewTab($event,'/#/transactions/credit')"
                        ng-click="goToView(currency,'/transactions/credit')" class="btn btn-primary pull-right rehive-button-no-right-margin">Credits</button>
                <button ng-mousedown="openViewInNewTab($event,'/#/transactions/debit')"
                        ng-click="goToView(currency,'/transactions/debit')" class="btn btn-primary pull-right rehive-button-no-right-margin">Debits</button>
            </td>
        </tr>
    </table>
    <hr class="no-margin hr-top-border">
</div>
<div ba-panel ng-show="loadingCurrencies">
    <loading-image></loading-image>
</div>
