<div ba-panel ba-panel-title="Currencies" ba-panel-class=" with-scroll" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="add-row-editable-table">
        <button class="btn btn-primary pull-right margin-bottom divider" ng-click="">Add Currency</button>
    </div>
    <table class="table table-condensed">
        <tr class="black-muted-bg">
            <td><b>Logo</b></td>
            <td><b>Pending Withrawals</b></td>
            <td><b>24h Volume</b></td>
            <td></td>
        </tr>
        <tr ng-repeat="currency in currencyDetails" class="editable-row center">
            <td class="table-row-center" width="15%">
                <img class="logo" ng-src="{{currency.logo}}" alt="token">
            </td>
            <td class="table-row-center" width="15%" ng-bind="currency.pendingWithdrawals"></td>
            <td class="table-row-center" width="15%" ng-bind="currency.volume"></td>
            <td class="table-row-center" >
                <a href class="btn btn-info pull-right currencies-buttons">Overview</a>
                <a href class="btn btn-info pull-right currencies-buttons">Users</a>
                <a href class="btn btn-info pull-right currencies-buttons">Deposits</a>
                <a href class="btn btn-info pull-right currencies-buttons">Withdrawals</a>
            </td>
        </tr>
    </table>
</div>