<div ba-panel ba-panel-title="Currencies" ba-panel-class=" with-scroll" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div>
        <button class="btn btn-success pull-right divider" ng-click="goToAddCurrency()">Add Currency</button>
    </div>
    <table class="table">
        <tr class="black-muted-bg">
            <td><strong>Logo</strong></td>
            <td><strong>Pending Withrawals</strong></td>
            <td><strong>24h Volume</strong></td>
            <td></td>
        </tr>
        <tr ng-repeat="currency in currencies" class="editable-row">
            <td width="15%">
                <img class="currency-logo" ng-src="{{IMAGEURL + currency.code + '.png'}}" alt="token">
            </td>
            <td width="15%">0</td>
            <td width="15%">0</td>
            <td class="no-right-padding-last-child">
                <button ng-click="goToView(currency,'/transactions/overview')" class="btn btn-primary pull-right button-width-100-no-right-margin">Overview</button>
                <button ng-click="goToView(currency,'/users')" class="btn btn-primary pull-right button-width-100-no-right-margin">Users</button>
                <button ng-click="goToView(currency,'/transactions/deposits')" class="btn btn-primary pull-right button-width-100-no-right-margin">Deposits</button>
                <button ng-click="goToView(currency,'/transactions/withdrawals')" class="btn btn-primary pull-right button-width-100-no-right-margin">Withdrawals</button>
            </td>
        </tr>
    </table>
    <hr class="no-margin hr-top-border">
</div>
