<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Update document</h4>
    </div>
    <div class="modal-body">
        <div ng-show="showingDocumentFile" class="divider">
            <img class="documentImage" ng-src="{{document.file || defaultImageUrl}}" height="500px" width="100%">
        </div>
        <div ng-hide="showingDocumentFile" class="divider">
            <img ngf-thumbnail="editDocument.file" height="500px" width="100%">
        </div>
        <form novalidate>
            <fieldset class="divider">
                <input ng-change="kycDocumentSelected('file')" type="file" ngf-select ng-model="editDocument.file" name="file"
                       accept="image/*" ngf-max-size="10MB" required>
            </fieldset>
            <div class="form-group">
                <label><strong>Document type</strong> <span class="required-icon">*</span></label>
                <br>
                <select class="form-control pointer" ng-change="documentChanged('document_type')" ng-model="editDocument.document_type" ng-options="type for type in documentTypeOptions" required>
                </select>
            </div>
            <div class="form-group">
                <label><strong>Status</strong> <span class="required-icon">*</span></label>
                <br>
                <select class="form-control pointer" ng-change="documentChanged('verified')" ng-model="editDocument.verified" ng-options="status for status in statusTypeOptions" required>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="deleteDocumentConfirm()" ng-disabled="updatingDocument" class="btn btn-danger pull-left">Delete</button>
        <button ng-click="updateDocument()" ng-disabled="updatingDocument" type="button" class="btn btn-primary pull-right">Save</button>
    </div>
</div>
