<div ba-panel ba-panel-title="Edit Subtype" ba-panel-class="light-text with-scroll">
    <form name="editSubtypeForm" class="custom-form" novalidate>
        <div class="form-group">
            <label><strong>Transaction Type</strong> <span class="required-icon">*</span></label>
            <br>
            <input class="form-control pointer" ng-model="editSubtype.tx_type" required disabled>
        </div>
        <div class="form-group">
            <label><strong>Name</strong> <span class="required-icon">*</span></label>
            <input ng-change="subtypeChanged('name')" type="text" ng-model="editSubtype.name" class="form-control"  placeholder="Name" required>
        </div>
        <div class="form-group">
            <label><strong>Label</strong></label>
            <input ng-change="subtypeChanged('label')" type="text" ng-model="editSubtype.label" class="form-control"  placeholder="Label">
        </div>
        <div class="form-group">
            <label><strong>Description</strong></label>
            <input ng-change="subtypeChanged('description')" type="text" ng-model="editSubtype.description" class="form-control"  placeholder="Description">
        </div>
        <div class="form-group">
            <button ng-disabled="!editSubtypeForm.$valid" ng-click="updateSubtype()" class="btn btn-primary pull-right">Save</button>
            <button ng-click="toggleSubtypeEditView()" class="btn btn-primary pull-right margin-right-10">Back</button>
        </div>
    </form>
</div>