<div ba-panel class="menu-box" ba-panel-class="light-text">
    <img ng-click="goToCompanyLogo('companyLogo')" ng-src="{{companyImageUrl}}" class="image-center pointer" width="90" height="90" alt="token Image">
    <hr class="no-margin">
    <div ng-click="goToSetting('/settings/account-info')" class="pointer menu-box-options">
        <h5>Account Info<i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/settings/company-info')" class="pointer menu-box-options">
        <h5>Company Info <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/settings/bank-accounts')" class="pointer menu-box-options">
        <h5>Bank Accounts <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/settings/subtypes')" class="pointer menu-box-options">
        <h5>Subtypes <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/settings/transaction-webhooks')" class="pointer menu-box-options">
        <h5>Transaction Webhooks <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/settings/user-webhooks')" class="pointer menu-box-options">
        <h5>User Webhooks <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/settings/permissions-and-management')" class="pointer menu-box-options">
        <h5>Permissions and Management <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/settings/notifications')" class="pointer menu-box-options">
        <h5>Notifications <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/settings/switches')" class="pointer menu-box-options">
        <h5>Global Switches <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/settings/transactions-switches')" class="pointer menu-box-options">
        <h5>Transactions Switches <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/settings/security')" class="pointer menu-box-options">
        <h5>Security <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
</div>
