<div ba-panel class="menu-box" ba-panel-class="light-text">
    <div class="menu-box-options settings-menu-heading">
        <h1>Settings</h1>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/settings/personal-details')" class="pointer menu-box-options">
        <h5>Personal details<i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/settings/address')" class="pointer menu-box-options">
        <h5>Mobile numbers<i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/settings/bank-accounts')" class="pointer menu-box-options">
        <h5>Email addresses<i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/settings/subtypes')" class="pointer menu-box-options">
        <h5>Get verified<i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/settings/address')" class="pointer menu-box-options">
        <h5>Address<i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/settings/bank-accounts')" class="pointer menu-box-options">
        <h5>Bank Accounts<i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/settings/bitcoin-addresses')" class="pointer menu-box-options">
        <h5>Bitcoin Addresses<i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/settings/security')" class="pointer menu-box-options">
        <h5>Security <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('/settings/notifications')" class="pointer menu-box-options">
        <h5>Notifications <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
</div>
