<div ba-panel  ba-panel-title="Create Withdrawal" ba-panel-class="light-text">
    <form name="withdrawalForm" class="form-horizontal depositForm">
        <div class="form-group">
            <label class="col-sm-2 control-label"><b>User</b><span class="requiredIcon">*</span></label>

            <div class="col-sm-10">
                <input type="email" ng-model="withdrawalData.user" class="form-control" placeholder="E.g email@domain.com" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><b>Amount</b><span class="requiredIcon">*</span></label>

            <div class="col-sm-10">
                <input type="number" ng-model="withdrawalData.amount" class="form-control"  placeholder="E.g 100000000" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"><b>Reference</b></label>

            <div class="col-sm-10">
                <input type="text" ng-model="withdrawal.reference" class="form-control"  placeholder="E.g # 1234">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <div ng-hide="showAdvancedOption">
                    <a class="pointer" ng-click="displayAdvancedOption()">Advanced Option</a>
                </div>
                <div ng-show="showAdvancedOption">
                    <label  class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox"  ng-model="withdrawalData.confirm_on_create">
                        <span><b><i>Confirm on create</i></b></span>
                    </label>
                    <i uib-tooltip-html="'<b>Complete withdrawal immediately after creation, it will override the normal behaviour of requiring an update or manual “completion” via the dashboard</b>'" class="ion-information-circled"></i>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button ng-disabled="!withdrawalForm.$valid" ng-click="toggleConfirmWithdrawalView(confirmWithdrawalView)" class="btn btn-primary pull-right">Next</button>
            </div>
        </div>
    </form>
</div>