<div ng-hide="loadingUserBankAccount || addingUserBankAccount || editingUserBankAccount" ba-panel ba-panel-title="Bank accounts" >
    <button ng-click="toggleAddUserBankAccountView()" class="btn btn-primary pull-right user-accounts-btn panel-header-button">Add</button>
    <div ng-repeat="bank in userBanks">
        <table class="table table-condensed table-striped user-details-table divider">
            <tr>
                <th width="50%"><strong>Account name/holder</strong></th>
                <th>{{bank.name || 'None'}}</th>
            </tr>
            <tr>
                <th width="50%"><strong>Account number</strong></th>
                <th>{{bank.number || 'None'}}</th>
            </tr>
            <tr>
                <th width="50%"><strong>Account type</strong></th>
                <th>{{bank.type || 'None'}}</th>
            </tr>
            <tr>
                <th width="50%"><strong>Bank name</strong></th>
                <th>{{bank.bank_name || 'None'}}</th>
            </tr>
            <tr>
                <th width="50%"><strong>Bank code</strong></th>
                <th>{{bank.bank_code || 'None'}}</th>
            </tr>
            <tr>
                <th width="50%"><strong>Branch code</strong></th>
                <th>{{bank.branch_code || 'None'}}</th>
            </tr>
            <tr>
                <th width="50%"><strong>Bank address</strong></th>
                <th>{{bank.address || 'None'}}</th>
            </tr>
            <tr>
                <th width="50%"><strong>Swift</strong></th>
                <th>{{bank.swift || 'None'}}</th>
            </tr>
            <tr>
                <th width="50%"><strong>IBAN</strong></th>
                <th>{{bank.iban || 'None'}}</th>
            </tr>
            <tr>
                <th width="50%"><strong>BIC</strong></th>
                <th>{{bank.bic || 'None'}}</th>
            </tr>
        </table>
        <button ng-click="openUserBankAccountModal('app/pages/users/userDetails/userBankAccounts/userBankAccountModal/userBankAccountModal.html','md',bank)" class="btn btn-danger pull-right user-accounts-btn divider">Delete</button>
        <button ng-click="toggleEditUserBankAccountView(bank)" class="btn btn-primary pull-right user-accounts-btn divider margin-right-10">Edit</button>
    </div>
</div>
<div ba-panel ng-show="loadingUserBankAccount">
    <loading-image></loading-image>
</div>
<div ng-show="addingUserBankAccount">
    <add-user-bank-account-view></add-user-bank-account-view>
</div>
<div ng-show="editingUserBankAccount">
    <edit-user-bank-account-view></edit-user-bank-account-view>
</div>

