<div ba-panel class="depositsMenu" ba-panel-title="Manage Deposits ({{selectedCurrency.symbol}} {{selectedCurrency.code}})" ba-panel-class="light-text">
    <img ng-src="{{currencyImageUrl}}" class="imageCenter" width="100" height="100" alt="token Image">
    <hr class="no-margin">
    <div ng-click="toggleDepositView('deposit')" class="pointer depositsMenuOptions">
        <h5>Deposit <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="toggleDepositView('pending')" class="pointer depositsMenuOptions">
        <h5>Pending <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
</div>