<div ng-hide="loadingCurrencies" ba-panel ba-panel-title="Select currency">
    <div>
        <button ng-click="toggleCustomCurrencyView()" class="btn btn-success panel-header-button">Add custom</button>
    </div>
    <select class="form-control pointer divider" ng-model="addCurrency.currencyChoice"
            ng-options="currency.code + ' - ' + currency.description for currency in currencyOptions | orderBy: 'code'">
    </select>
    <button class="btn btn-primary pull-right" ng-click="next()">Next</button>
</div>
<div ba-panel ng-show="loadingCurrencies">
    <loading-image></loading-image>
</div>