<div ng-hide="loadingStellarService" ba-panel ba-panel-title="Account setup">
    <form name="accountSetupForm">
        <div class="form-group">
            <label><strong>User deposits account</strong> <span class="required-icon">*</span></label>
            <input type="text" ng-model="address" class="form-control"  placeholder="Enter address" required>
        </div>
        <div class="form-group">
            <label><strong>Sending hot wallet account<span class="required-icon">*</span></strong></label>
            <input type="text" ng-model="secret_key" class="form-control"  placeholder="Enter secret key" required>
        </div>
        <div class="form-group">
            <button ng-disabled="!accountSetupForm.$valid" ng-click="saveReceiveAccount(address,secret_key)" class="btn btn-primary pull-right">Done</button>
        </div>
    </form>
</div>
<div ba-panel ng-show="loadingStellarService">
    <loading-image></loading-image>
</div>