<div class="auth-main">
    <div class="auth-block">
        <div class="text-center divider">
            <h1>Welcome to Rehive.</h1>
            <p>Please tell us more about you.</p>
        </div>
        <div class="company-name-request-text divider" ng-keydown="($event.keyCode === 13) && company.name && updateCompanyInfo()">
            <p>What is your company's name?</p>
            <input class="form-control" ng-model="company.name" type="text" placeholder="Company name">
        </div>
        <button ng-disabled="!company.name" ng-click="updateCompanyInfo()" class="btn btn-primary pull-right">Next</button>
    </div>

</div>