<div ng-hide="loadingUsers" class="row">
    <div  ba-panel ba-panel-title="Add new user" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form name="addNewUserForm" class="custom-form" novalidate>
            <div class="divider">
                <img ng-show="newUserParams.profile" ngf-thumbnail="newUserParams.profile" height="90px" width="90px">
            </div>
            <div class="form-group">
                <fieldset class="divider">
                    <input type="file" ngf-select ng-model="newUserParams.profile" name="file"
                           accept="image/*" ngf-max-size="10MB" >
                </fieldset>
            </div>
            <div class="form-group">
                <label><strong>First name</strong></span></label>
                <input type="text" ng-model="newUserParams.first_name" class="form-control"  placeholder="Enter first name" >
            </div>
            <div class="form-group">
                <label><strong>Last name</strong></label>
                <input type="text" ng-model="newUserParams.last_name" class="form-control"  placeholder="Enter last name">
            </div>
            <div class="form-group">
                <label><strong>Email</strong> <span class="required-icon">*</span></label>
                <input type="text" ng-model="newUserParams.email" class="form-control"  placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label><strong>Id_number</strong></label>
                <input type="text" ng-model="newUserParams.id_number" class="form-control"  placeholder="Enter id number" >
            </div>
            <div class="form-group">
                <label><strong>Language</strong></label>
                <input type="text" ng-model="newUserParams.language" class="form-control"  placeholder="Enter language">
            </div>
            <div class="form-group">
                <label><strong>Nationality</strong></label>
                <country-select class="form-control pointer" data-ng-model="newUserParams.nationality"></country-select>
            </div>
            <div class="form-group">
                <label><strong>Metadata</strong></label>
                <input type="text" ng-model="newUserParams.metadata" class="form-control"  placeholder='Enter metadata,eg: {"hello":"world"}'>
            </div>
            <div class="form-group">
                <label><strong>Mobile number</strong></label>
                <input type="text" ng-model="newUserParams.mobile_number" class="form-control"  placeholder="Enter mobile number">
            </div>
            <div class="form-group">
                <label><strong>Timezone</strong></label>
                <input type="text" ng-model="newUserParams.timezone" class="form-control"  placeholder="Enter timezone">
            </div>
            <div class="form-group">
                <button ng-disabled="!addNewUserForm.$valid" ng-click="addNewUser(newUserParams)" class="btn btn-primary pull-right">Add</button>
                <button ng-click="toggleAddUserView()" class="btn btn-primary pull-right margin-right-10">Back</button>
            </div>
        </form>
    </div>
</div>
<div ng-show="loadingUsers" class="row">
    <div ba-panel class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <loading-image></loading-image>
    </div>
</div>