<div ng-hide="loadingUserAccounts" ba-panel ba-panel-title="Accounts" >
    <table class="table table-condensed table-striped user-details-table">
        <tr>
            <th><strong>Currency</strong></th>
            <th><strong>Balance</strong></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="accountBalance in balances">
            <th ng-bind="accountBalance.currency.code"></th>
            <th title="{{accountBalance.balance  | currencyModifiersFilter: accountBalance.currency.divisibility}}"><div class="user-account-balance-overflow" ng-bind="accountBalance.balance  | currencyModifiersFilter: accountBalance.currency.divisibility"></div></th>
            <th><button ng-click="goToView('transactions.debit',accountBalance.currency,account.user.email)" class="btn btn-primary pull-right user-accounts-btn">Debit</button></th>
            <th><button ng-click="goToView('transactions.credit',accountBalance.currency,account.user.email)" class="btn btn-primary pull-right user-accounts-btn">Credit</button></th>
            <th><button ng-click="goToSettings(accountBalance.currency.code)" class="btn btn-primary pull-right user-accounts-btn">Settings</button></th>
        </tr>
    </table>
</div>
<div ba-panel ng-show="loadingUserAccounts">
    <loading-image></loading-image>
</div>
