<div ng-hide="loadingUserBasicInfo" ba-panel ba-panel-title="Edit User Switch" ba-panel-class="light-text with-scroll">
    <form name="editUserBasicInfoForm" class="custom-form" novalidate>
        <div class="form-group">
            <label><strong>First name</strong></label>
            <input type="text" class="form-control" ng-change="userBasicInfoChanged('first_name')" ng-model="editUserBasicInfo.first_name" placeholder="None" />
        </div>
        <div class="form-group">
            <label><strong>Last name</strong></label>
            <input type="text" class="form-control" ng-change="userBasicInfoChanged('last_name')" ng-model="editUserBasicInfo.last_name" placeholder="None" />
        </div>
        <div class="form-group">
            <div class="form-group">
                <label><strong>Nationality</strong></label>
                <country-select class="form-control pointer" ng-change="userBasicInfoChanged('nationality')" data-ng-model="editUserBasicInfo.nationality"></country-select>
            </div>
        </div>
        <div class="form-group">
            <label><strong>Language</strong></label>
            <input type="text" class="form-control" ng-change="userBasicInfoChanged('language')" ng-model="editUserBasicInfo.language" placeholder="None" />
        </div>
        <div class="form-group">
            <label><strong>ID number</strong></label>
            <input type="text" class="form-control" ng-change="userBasicInfoChanged('id_number')" ng-model="editUserBasicInfo.id_number" placeholder="None" />
        </div>
        <div class="form-group">
            <button ng-click="updateUserBasicInfo()" ng-disabled="!editUserBasicInfoForm.$valid" class="btn btn-primary user-accounts-btn pull-right">Save</button>
            <button ng-click="toggleUserBasicInfoView()" class="btn btn-primary pull-right user-accounts-btn margin-right-10">Back</button>
        </div>
    </form>
</div>