<div ng-hide="loadingAPITokens" ba-panel ba-panel-title="API tokens list" ba-panel-class="light-text">
    <div>
        <table class="table fees-table">
            <tbody>
            <tr>
                <td>This is the company's list of authentication tokens</td>
                <td class="rehive-table-row-last-child"><button ng-click="goToAddTokenView()" class="btn btn-success rehive-settings-buttons pull-right">Add</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <table class="table fees-table table-striped">
            <tbody>
            <tr class="black-muted-bg">
                <th><strong>Token</strong></th>
                <th><strong>Expires</strong></th>
                <th></th>
            </tr>
            <tr ng-repeat="token in tokensList" class="editable-row">
                <td><div title="{{token.token_key}}" class="transactions-list-element" ng-bind="token.token_key"></div></td>
                <td><div title="{{token.expires | date:'mediumDate'}} {{token.expires | date:'shortTime'}}"
                         class="transactions-list-element">
                    <div ng-show="token.expires">
                        {{token.expires | date:'mediumDate'}} {{token.expires | date:'shortTime'}}
                    </div>
                    <div ng-show="!token.expires">
                        Permanent Key
                    </div>
                </div></td>
                <td class="rehive-table-row-last-child">
                    <button ng-click="openDeleteTokenModal('app/pages/settings/security/tokens/deleteTokenModal/deleteTokenModal.html','md',token)" class="btn btn-danger pull-right rehive-settings-buttons">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div ba-panel ng-show="loadingAPITokens">
    <loading-image></loading-image>
</div>