<div ba-panel ba-panel-title="Notifications">
    <div>
        <div class="margin-bottom-ten-px">
            <label  class="checkbox-inline custom-checkbox nowrap">
                <input type="checkbox"  ng-model="depositData.confirm_on_create">
                <span>Send transaction notifications</span>
            </label>
        </div>
        <div class="margin-bottom-ten-px">
            <label  class="checkbox-inline custom-checkbox nowrap">
                <input  type="checkbox"  ng-model="depositData.confirm_on_create">
                <span>Receive transaction notifications</span>
            </label>
        </div>
        <div class="margin-bottom-ten-px">
            <label  class="checkbox-inline custom-checkbox nowrap">
                <input  type="checkbox"  ng-model="depositData.confirm_on_create">
                <span>Unclaimed transaction notifications</span>
            </label>
        </div>
        <div class="margin-bottom-ten-px">
            <label  class="checkbox-inline custom-checkbox nowrap">
                <input  type="checkbox"  ng-model="depositData.confirm_on_create">
                <span>Deposit transaction notifications</span>
            </label>
        </div>
        <div class="margin-bottom-ten-px">
            <label  class="checkbox-inline custom-checkbox nowrap">
                <input  type="checkbox"  ng-model="depositData.confirm_on_create">
                <span>Admin deposit notifications</span>
            </label>
        </div>
        <div class="margin-bottom-ten-px">
            <label  class="checkbox-inline custom-checkbox nowrap">
                <input  type="checkbox"  ng-model="depositData.confirm_on_create">
                <span>Admin issue notifications</span>
            </label>
        </div>
        <div class="margin-bottom-ten-px">
            <label  class="checkbox-inline custom-checkbox nowrap">
                <input  type="checkbox"  ng-model="depositData.confirm_on_create">
                <span>Account verification notifications</span>
            </label>
        </div>
        <div class="margin-bottom-ten-px">
            <label  class="checkbox-inline custom-checkbox nowrap">
                <input  type="checkbox"  ng-model="depositData.confirm_on_create">
                <span>Document upload notifications</span>
            </label>
        </div>
        <div class="divider">
            <label  class="checkbox-inline custom-checkbox nowrap">
                <input  type="checkbox"  ng-model="depositData.confirm_on_create">
                <span>Document status change notifications</span>
            </label>
        </div>
        <div class="form-group">
            <button  class="btn btn-primary pull-right">Save</button>
        </div>
    </div>
</div>
