<div ng-hide="loadingCompanyNotifications" ba-panel ba-panel-title="Notifications">
    <div>
        <div class="margin-bottom-ten-px" ng-repeat="notification in notifications">
            <label  class="checkbox-inline custom-checkbox nowrap">
                <input type="checkbox"  ng-model="notification.enabled" ng-checked="notification.enabled">
                <span>{{notification.description}}</span>
            </label>
        </div>
        <div class="form-group">
            <button ng-click="saveNotifications()" class="btn btn-primary pull-right">Save</button>
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingCompanyNotifications">
    <loading-image></loading-image>
</div>
