<div ng-hide="users.length == 0" class="divider">
    <table class="table table-condensed table-striped">
        <tr class="black-muted-bg">
            <td><strong>Email</strong></td>
            <td><strong>Currency</strong></td>
            <td><strong>Joined</strong></td>
            <td><strong>Last login</strong></td>
        </tr>
        <tr ng-repeat="user in users | orderBy: '-last_login'" class="editable-row center">
            <td><a href="/#/user/{{user.identifier}}"><div title="{{user.email}}" class="transactions-list-element" ng-bind="user.email"></div></a></td>
            <td><div title="{{user.currency.code}}" class="transactions-list-element" ng-bind="user.currency.code"></div></td>
            <td><div title="{{user.date_joined | date:'mediumDate'}}, {{user.date_joined | date:'shortTime'}}" class="transactions-list-element">
                {{user.date_joined | date:'mediumDate'}}, {{user.date_joined | date:'shortTime'}}
            </div></td>
            <td><div title="{{user.last_login | date:'mediumDate'}}, {{user.last_login | date:'shortTime'}}" class="transactions-list-element">
                {{user.last_login | date:'mediumDate'}}, {{user.last_login | date:'shortTime'}}</div></td>
        </tr>
    </table>
    <div >
        <p uib-pagination boundary-links="true" items-per-page="usersPagination.itemsPerPage"  total-items="usersData.count" ng-model="usersPagination.pageNo"
           max-size="usersPagination.maxSize" class="pagination-sm pull-right transaction-history-pagination" force-ellipses="true" ng-change="getAllUsers()"
           previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
    </div>
</div>
<div ng-show="users.length == 0">
    <i ng-hide="usersStateMessage == ''" ng-bind="usersStateMessage"></i>
    <loading-image ng-show="usersStateMessage == ''"></loading-image>
</div>
