<div class="divider">
    <table class="table table-condensed table-striped table-hover ">
        <tr class="black-muted-bg">
            <td><b>Email</b></td>
            <td><b>Currency</b></td>
            <td><b>Balance</b></td>
            <td><b>Joined</b></td>
            <td><b>Last Transaction</b></td>
            <td><b>Last Login</b></td>
        </tr>
        <tr ng-repeat="user in users " class="editable-row center pointer">
            <td><div title="{{transaction.from_reference}}" class="history-table" ng-bind="transaction.from_reference"></div></td>
            <td><div title="{{transaction.to_reference}}" class="history-table" ng-bind="transaction.to_reference"></div></td>
            <td><div title="{{transaction.tx_type}}" class="history-table" ng-bind="transaction.tx_type"></div></td>
            <td><div title="{{transaction.subtype}}" class="history-table" ng-bind="transaction.subtype || 'None'"></div></td>
            <td><div title="{{transaction.currency.code}}" class="history-table" ng-bind="transaction.currency.code"></div></td>
            <td><div title="{{transaction.created | date:'mediumDate'}} {{transaction.created | date:'shortTime'}}" class="history-table">
                {{transaction.created | date:'mediumDate'}} {{transaction.created | date:'shortTime'}}</div></td>
        </tr>
    </table>
    <div >
        <p uib-pagination boundary-links="true" items-per-page="pagination.itemsPerPage"  total-items="transactionsData.count" ng-model="pagination.pageNo"
           max-size="pagination.maxSize" class="pagination-sm pull-right" force-ellipses="true" ng-change="getLatestTransactions()"
           previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
    </div>
</div>
<div ng-show="users.length == 0">
    <h4 ng-hide="transactionsStateMessage == ''" ng-bind="transactionsStateMessage"></h4>
    <loading-image ng-show="transactionsStateMessage == ''"></loading-image>
</div>
