<div ba-panel  ba-panel-title="Confirm Deposit" ba-panel-class="light-text">
    <div class="confirm-transaction">
        <p>You are about to deposit <strong>{{selectedCurrency.symbol}} {{depositData.amount}}</strong> to <strong>{{depositData.user}}</strong></p>
    </div>
    <div>
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-disabled="onGoingTransaction" ng-click="createDeposit()" class="btn btn-primary pull-right">Confirm</button>
            <button ng-disabled="onGoingTransaction" ng-click="goToView('createDeposit')" class="btn btn-primary pull-right margin-right-10">Back</button>
        </div>
    </div>
</div>
