<div ng-hide="loadingAccountInfo">
    <div ba-panel ba-panel-title="Administrator Info">
        <div>
            <div class="form-group">
                <button ng-click="viewAllEmails()" class="btn btn-primary pull-right">View Emails</button>
                <label><strong>Primary Email</strong></label>
                <p class="text-muted" ng-bind="administrator.email"></p>
            </div>
            <div class="form-group">
                <label><strong>First Name</strong></label>
                <input type="text" ng-change="accountInfoChanged('first_name')" ng-model="administrator.first_name" class="form-control" placeholder="E.g Satoshi">
            </div>
            <div class="form-group">
                <label><strong>Last Name</strong></label>
                <input type="text" ng-change="accountInfoChanged('last_name')" ng-model="administrator.last_name" class="form-control" placeholder="E.g Nakomoto">
            </div>
            <div class="form-group">
                <label><strong>Nationality</strong></label>
                <country-select class="form-control pointer" ng-change="accountInfoChanged('nationality')" data-ng-model="administrator.nationality"></country-select>
            </div>
            <div class="form-group">
                <label><strong>Identity/Passport Number</strong></label>
                <input type="text" ng-change="accountInfoChanged('id_number')" ng-model="administrator.id_number" class="form-control" placeholder="E.g 891218666987">
            </div>
            <div class="form-group">
                <button ng-click="updateAdministratorAccount()" class="btn btn-primary pull-right">Save</button>
            </div>
        </div>
    </div>

    <div ba-panel ba-panel-title="Contact Details">
        <div>
            <div class="form-group">
                <label><strong>Mobile Number</strong></label>
                <p class="text-muted" ng-bind="administrator.mobile_number || 'N/A'"></p>
            </div>
            <!--<div class="form-group">-->
                <!--<label><strong>Skype Name</strong></label>-->
                <!--<input type="text" ng-change="accountInfoChanged('skype_name')" ng-model="administrator.skype_name" class="form-control" placeholder="E.g Satoshi">-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<button ng-click="updateAdministratorAccount()" class="btn btn-primary pull-right">Save</button>-->
            <!--</div>-->
        </div>
    </div>
</div>
<div ba-panel ng-show="loadingAccountInfo">
    <loading-image></loading-image>
</div>
