<div ba-panel  ba-panel-title="Create Credit" ba-panel-class="light-text">
    <form name="creditForm" class="custom-form">
        <div class="form-group">
            <label><strong>User</strong> <span class="required-icon">*</span></label>
            <input type="email" ng-model="creditData.user" class="form-control" placeholder="E.g email@domain.com" required>
        </div>
        <div class="form-group">
            <label><strong>Amount</strong> <span class="required-icon">*</span></label>
            <input type="text" ng-model="creditData.amount" class="form-control"  placeholder="E.g 100000000" required>
        </div>
        <div class="form-group">
            <label><strong>Reference</strong></label>
            <input type="text" ng-model="creditData.reference" class="form-control"  placeholder="E.g # 1234">
        </div>
        <div class="form-group">
            <div ng-hide="showAdvancedOption">
                <a class="pointer" ng-click="displayAdvancedOption()">Advanced Options</a>
            </div>
            <div ng-show="showAdvancedOption">
              <div class="form-group">
                  <label><strong>Metadata <i uib-tooltip-html="'<strong>Metadata should be entered in JSON format.Eg: {&#34;Hello&#34;: &#34;World&#34;}</strong>'" class="ion-information-circled"></i></strong></label>
                  <textarea rows="4" type="text" ng-model="creditData.metadata" class="form-control"  placeholder='E.g {"Hello" : "World"}'></textarea>
              </div>
              <div class="divider">
                <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox"  ng-model="creditData.confirm_on_create">
                    <span>Confirm on create</span>
                </label>
                <i uib-tooltip-html="'<strong>When this option is disabled, a pending transaction will be created, requiring an update or manual “completion” via the dashboard.</strong>'" class="ion-information-circled"></i>
              </div>
            </div>
        </div>
        <div class="form-group">
            <button ng-disabled="!creditForm.$valid" ng-click="goToView('confirmCredit')" class="btn btn-primary pull-right">Next</button>
        </div>
    </form>
</div>
