<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Delete User Switch</h4>
    </div>
    <div class="modal-body">
        <p>Type: {{userSwitches.tx_type | capitalizeWord}}</p>
        <p>Subtype: {{userSwitches.subtype ? userSwitches.subtype : 'None'}}</p>
        <p>Enabled: {{userSwitches.enabled | capitalizeWord}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-left" ng-click="$dismiss()">Close</button>
        <button ng-click="deleteUserSwitch()" ng-disabled="deletingUserSwitches" type="button" class="btn btn-danger pull-right">Delete</button>
    </div>
</div>
