<div>
    <div class="panel">
        <div class="panel-heading"><h2 class="custom-buy-with-header">Make bitcoin payment</h2></div>
        <div class="col-md-12">
            <div class="col-md-12 make-payment-notice">
                You are buying <span
                    title="{{ quotebtc.token_amount | currencyModifiersFilter: quotebtc.token_currency.divisibility | preciseRound: quotebtc.token_currency.divisibility}}"
                    ng-bind="quotebtc.token_amount | currencyModifiersFilter: quotebtc.token_currency.divisibility | preciseRound: quotebtc.token_currency.divisibility"></span>
                ECH.
                <br>
                Follow the instructions below.
            </div>
            <div class="col-md-12">
                <div class="col-md-6 make-payment-image">
                    <img ng-src="{{bitcoinAddress.details.qr_code}}" width="100%"/>
                </div>
                <div class="col-md-6" style="float: right">
                    <div class="row make-payment-scan">
                        Scan the QR code to make a payment with your mobile wallet.
                    </div>
                    <div class="row">
                        <button class="btn btn-primary make-payment-copy" ngclipboard
                                data-clipboard-text="{{bitcoinAddress.details.payment_uri}}" ng-click="addressCopied()">
                            Copy to clipboard
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 make-payment-final text-center">
                Send Exactly BTC <span
                    title="{{ quotebtc.deposit_amount | currencyModifiersFilter: quotebtc.deposit_currency.divisibility | preciseRound: quotebtc.deposit_currency.divisibility}}"
                    ng-bind="quotebtc.deposit_amount | currencyModifiersFilter: quotebtc.deposit_currency.divisibility | preciseRound: quotebtc.deposit_currency.divisibility"></span>
                (plus miner fee) to <b style="font-size:12px;">{{bitcoinAddress.details.payment_uri}}</b>
            </div>
        </div>
        <div class="panel-body">
            <button ng-click="cancelBtc()" class="btn btn-primary pull-right make-payment-cancel">Cancel</button>
            <p class="pull-right make-payment-time">{{qouteBtcTime}}</p>
        </div>
    </div>
</div>