<div ng-hide="editingTransactionsSwitches || loadingTransactionsSwitches">
    <div ng-show="transactionsSwitchesList.length > 0" ba-panel class="setting-bank-accounts" ba-panel-title="Transactions switches" ba-panel-class="light-text with-scroll">
        <table class="table fees-table table-striped setting-bank-accounts-table">
            <tr class="black-muted-bg divider">
                <th><strong>Type</strong></th>
                <th><strong>Subtype</strong></th>
                <th><strong>Enabled</strong></th>
                <th></th>
            </tr>
            <tr ng-repeat="transactionsSwitch in transactionsSwitchesList">
                <th title="{{transactionsSwitch.tx_type}}" ng-bind="transactionsSwitch.tx_type | capitalizeWord | limitTo: '35'"></th>
                <th title="{{transactionsSwitch.subtype ? transactionsSwitch.subtype : 'None'}}" ng-bind="transactionsSwitch.subtype ? transactionsSwitch.subtype : 'None'| limitTo: '35'"></th>
                <th title="{{transactionsSwitch.enabled}}" ng-bind="transactionsSwitch.enabled | capitalizeWord"></th>
                <th class="rehive-table-row-last-child">
                    <button ng-click="openTransactionsSwitchesModal('app/pages/settings/transactionsSwitches/transactionsSwitchModal/transactionsSwitchModal.html','md',transactionsSwitch)" class="btn btn-danger pull-right rehive-settings-buttons">Delete</button>
                    <button ng-click="toggleTransactionsSwitchesEditView(transactionsSwitch)" class="btn btn-primary pull-right rehive-settings-buttons">Edit</button>
                </th>
            </tr>
        </table>
    </div>
    <div ba-panel ba-panel-title="Add transactions switch" ba-panel-class="light-text with-scroll">
        <form name="transactionsSwitchesForm" class="custom-form">
            <div class="form-group">
                <label><strong>Transaction type</strong> <span class="required-icon">*</span></label>
                <br>
                <select class="form-control pointer" ng-model="transactionsSwitchParams.tx_type" ng-options="option for option in transactionsSwitchesOptions" required>
                </select>
            </div>
            <div class="form-group">
                <label><strong>Subtype</strong></label>
                <input type="text" class="form-control" ng-model="transactionsSwitchParams.subtype" placeholder="Enter subtype name"/>
            </div>
            <div class="form-group">
                <label><strong>Enabled</strong> <span class="required-icon">*</span></label>
                <br>
                <select class="form-control pointer" ng-model="transactionsSwitchParams.enabled" ng-options="bool for bool in boolOptions" required>
                </select>
            </div>
            <div class="form-group">
                <button ng-click="addTransactionsSwitch(transactionsSwitchParams)" ng-disabled="!transactionsSwitchesForm.$valid" class="btn btn-primary pull-right">Add</button>
            </div>
        </form>
    </div>
</div>
<div ng-show="editingTransactionsSwitches">
    <edit-transactions-switch></edit-transactions-switch>
</div>
<div ba-panel ng-show="loadingTransactionsSwitches">
    <loading-image></loading-image>
</div>