<div ng-hide="editingUserWebhook || loadingUserWebhooks">
    <div ba-panel class="setting-bank-accounts" ba-panel-title="User webhooks" ba-panel-class="light-text with-scroll">
        <table class="table fees-table table-striped setting-bank-accounts-table">
            <tr class="black-muted-bg divider">
                <th><strong>Event</strong></th>
                <th><strong>URL</strong></th>
                <th><strong>Secret</strong></th>
                <th></th>
            </tr>
            <tr ng-repeat="webhook in userWebhooks">
                <th title="{{webhook.event}}" ng-bind="webhook.event | capitalizeDottedSentence"></th>
                <th title="{{webhook.url}}" ng-bind="webhook.url | limitTo: '14'"></th>
                <th title="{{webhook.secret}}" ng-bind="webhook.secret | limitTo: '14'"></th>
                <th class="rehive-table-row-last-child">
                    <button ng-click="openUserWebhooksModal('app/pages/settings/userWebhooks/userWebhooksModal/userWebhooksModal.html','md',webhook)" class="btn btn-danger pull-right rehive-settings-buttons">Delete</button>
                    <button ng-click="toggleUserWebhooksEditView(webhook)" class="btn btn-primary pull-right rehive-settings-buttons">Edit</button>
                </th>
            </tr>
        </table>
    </div>
    <div ba-panel ba-panel-title="Add webhook" ba-panel-class="light-text with-scroll">
        <form name="userWebhooksForm" class="custom-form">
            <div class="form-group">
                <label><strong>Event type</strong> <span class="required-icon">*</span></label>
                <br>
                <select class="form-control pointer" ng-model="userWebhooksParams.event" ng-options="event for event in eventOptions" required>
                </select>
            </div>
            <div class="form-group">
                <label><strong>Webhook url</strong> <span class="required-icon">*</span></label>
                <input type="text" ng-model="userWebhooksParams.url" class="form-control"  placeholder="URL" required>
            </div>
            <div class="form-group">
                <label><strong>Webhook secret</strong> <span class="required-icon">*</span></label>
                <input type="text" ng-model="userWebhooksParams.secret" class="form-control"  placeholder="Secret" required>
            </div>
            <div class="form-group">
                <button ng-click="addUserWebhooks(userWebhooksParams)" ng-disabled="!userWebhooksForm.$valid" class="btn btn-primary pull-right">Add</button>
            </div>
        </form>
    </div>
</div>
<div ng-show="editingUserWebhook">
    <edit-user-webhook></edit-user-webhook>
</div>
<div ba-panel ng-show="loadingUserWebhooks">
    <loading-image></loading-image>
</div>
