<div class="divider">
    <table class="table table-condensed table-striped table-hover ">
        <tr class="black-muted-bg">
            <td><strong>Email</strong></td>
            <td><strong>Identifier</strong></td>
            <td><strong>Address</strong></td>
        </tr>
        <tr ng-repeat="user in users" class="editable-row center" >
            <td><a href="#/user/{{user.identifier}}"><div title="{{user.email}}" class="transactions-list-element" ng-bind="user.email"></div></a></td>
            <td><div title="{{user.identifier}}" class="transactions-list-element" ng-bind="user.identifier"></div></td>
            <td><div title="{{user.crypto.address}}" class="transactions-list-element" ng-bind="user.crypto.address"></div></td>
        </tr>
    </table>
    <div >
        <p uib-pagination boundary-links="true" items-per-page="pagination.itemsPerPage"  total-items="usersData.count" ng-model="pagination.pageNo"
           max-size="pagination.maxSize" class="pagination-sm pull-right transaction-history-pagination" force-ellipses="true" ng-change="getAllUsers()"
           previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></p>
    </div>
</div>
<div ng-show="users.length == 0">
    <i ng-hide="usersStateMessage == ''" ng-bind="usersStateMessage"></i>
    <loading-image ng-show="usersStateMessage == ''"></loading-image>
</div>
