<div>
    <auth-navigation></auth-navigation>
</div>
<div ng-hide="loadingMobileConfirmView" class="auth-main">
    <div class="auth-block text-center">
        <h1>Provide one time pin</h1>
        <form class="form-horizontal">
          <div>
            <div class="row form-group otp-input">
                <div class="col-sm-4">
                    <input class="form-control" placeholder="XXXXX" type="text" ng-model="mobile.otp">
                </div>
                <div class="col-sm-8 otp-text">
                  We sent a five digit code to {{user.mobile_number}}. Type the code here to verify your mobile number.
                </div>
            </div>
            <div class="row">
              <a ng-click="resendMobileOtp()" class="auth-link pointer">Code didn't arrive? Click here to resend OTP.</a>
            </div>
              <br>
              <br>
            <div class="row">
              <div class="col-sm-4">
                  <button ng-click="goBack()" class="btn btn-primary back-btn pull-left">Back</button>
              </div>
              <div class="col-sm-4">
              </div>
              <div class="col-sm-4">
                  <button ng-disabled="!mobile.otp" ng-click="verifyMobileNumber()" class="btn btn-primary pull-right">Next</button>
              </div>
            </div>
          </div>
        </form>
    </div>
</div>
<div class="auth-main " ng-show="loadingMobileConfirmView">
    <div class="auth-block verification-text">
        <loading-image></loading-image>
    </div>
</div>
