<div ba-panel ba-panel-title="Edit Bank Account" ba-panel-class="light-text with-scroll">
    <form class="deposit-form">
        <div class="form-group">
            <label><strong>Account Name/Holder</strong></label>
            <input type="text" ng-model="bankData.accountName" class="form-control"  placeholder="E.g Currency Corp">
        </div>
        <div class="form-group">
            <label><strong>Account Number</strong></label>
            <input type="text" ng-model="bankData.accountName" class="form-control"  placeholder="E.g 5246357653">
        </div>
        <div class="form-group">
            <label><strong>Account Type</strong></label>
            <input type="text" ng-model="bankData.accountName" class="form-control"  placeholder="E.g Cheque/Current/Savings">
        </div>
        <div class="form-group">
            <label><strong>Bank Name</strong></label>
            <input type="text" ng-model="bankData.accountName" class="form-control"  placeholder="E.g Saharah Bank Ltd">
        </div>
        <div class="form-group">
            <label><strong>Bank Code</strong></label>
            <input type="text" ng-model="bankData.accountName" class="form-control"  placeholder="E.g 342543">
        </div>
        <div class="form-group">
            <label><strong>Branch Code</strong></label>
            <input type="text" ng-model="bankData.accountName" class="form-control"  placeholder="E.g 456798">
        </div>
        <div class="form-group">
            <label><strong>Bank/Branch Address</strong></label>
            <input type="text" ng-model="bankData.accountName" class="form-control divider"  placeholder="Address line 1">
            <input type="text" ng-model="bankData.accountName" class="form-control divider"  placeholder="Address line 2">
            <input type="text" ng-model="bankData.accountName" class="form-control divider"  placeholder="City">
            <country-select class="form-control pointer divider" data-ng-model="administrator.country"></country-select>
            <input type="text" ng-model="bankData.accountName" class="form-control divider"  placeholder="Code/Zipcode">
        </div>
        <div class="form-group">
            <label><strong>SWIFT</strong></label>
            <input type="text" ng-model="bankData.accountName" class="form-control"  placeholder="E.g FDDODUMM">
        </div>
        <div class="form-group">
            <label><strong>IBAN</strong></label>
            <input type="text" ng-model="bankData.accountName" class="form-control"  placeholder="E.g DE41700333001189190812">
        </div>
        <div class="form-group">
            <label><strong>BIC</strong></label>
            <input type="text" ng-model="bankData.accountName" class="form-control"  placeholder="E.g FDDODUMMXXX">
        </div>
        <div class="form-group">
            <button ng-click="" class="btn btn-primary pull-right">Add</button>
            <button ng-click="toggleEditBankAccountsView()" class="btn btn-primary pull-right margin-right">Back</button>
        </div>
    </form>
</div>