<div ng-hide="loadingTierFees" ba-panel ba-panel-title="Edit Tier Fee" >
    <form name="editTierFeeForm" class="custom-form" novalidate>
        <div class="form-group">
            <label><strong>Transaction Type</strong> <span class="required-icon">*</span></label>
            <br>
            <select class="form-control pointer" ng-change="tierFeeChanged('tx_type')" ng-model="editTierFee.tx_type" ng-options="option for option in txTypeOptions" required>
            </select>
        </div>
        <div class="form-group">
            <label><strong>Amount</strong></label>
            <input type="number" class="form-control" ng-change="tierFeeChanged('value')" ng-model="editTierFee.value" placeholder="Enter value"/>
        </div>
        <div class="form-group">
            <label><strong>Percentage</strong></label>
            <input type="number" class="form-control" ng-change="tierFeeChanged('percentage')" ng-model="editTierFee.percentage" placeholder="Enter percentage" />
        </div>
        <div class="form-group">
            <label><strong>Subtype</strong></label>
            <input type="text" class="form-control" ng-change="tierFeeChanged('subtype')" ng-model="editTierFee.subtype" placeholder="Enter subtype name"/>
        </div>
        <div class="form-group">
            <button ng-click="updateTierFee()" ng-disabled="!editTierFeeForm.$valid" class="btn btn-primary pull-right">Save</button>
            <button ng-click="toggleTierFeeEditView()" class="btn btn-primary pull-right margin-right-10">Back</button>
        </div>
    </form>
</div>
