<div ng-hide="loadingSwitches" ba-panel ba-panel-title="Edit Switch" ba-panel-class="light-text with-scroll">
    <form name="editSwitchForm" class="custom-form" novalidate>
        <div class="form-group">
            <label><strong>Switch Type</strong> <span class="required-icon">*</span></label>
            <br>
            <select class="form-control pointer" ng-change="switchesChanged('switch_type')" ng-model="editSwitches.switch_type" ng-options="option for option in switchesOptions" required>
            </select>
        </div>
        <div class="form-group">
            <label><strong>Enabled</strong></label>
            <br>
            <select class="form-control pointer" ng-change="switchesChanged('enabled')" ng-model="editSwitches.enabled" ng-options="bool for bool in boolOptions">
            </select>
        </div>
        <div class="form-group">
            <button ng-click="updateSwitches()" ng-disabled="!editSwitchForm.$valid" class="btn btn-primary pull-right">Save</button>
            <button ng-click="toggleSwitchesEditView()" class="btn btn-primary pull-right margin-right-10">Back</button>
        </div>
    </form>
</div>
