<div ng-hide="loadingCompanyBankAccounts" ba-panel class="bank-accounts" ba-panel-title="Bank accounts" ba-panel-class="light-text">
    <div ng-show="companyBankAccounts.length > 0">
        <div ng-repeat="bank in companyBankAccounts" class="divider">
            <label class="checkbox-inline custom-checkbox nowrap">
                <input type="checkbox" ng-model="bank.checked" ng-change="saveMarkedBankAccounts(bank)">
                <span>{{bank.bank_name}}, {{bank.number}}</span>
            </label>
        </div>
        <hr>
        <div>
            <!--<button ng-click="saveMarkedBankAccounts()" class="btn btn-primary pull-right">Save</button>-->
            <sub class="subscript pull-left divider">*Go to Settings to edit bank account details.</sub>
        </div>
    </div>
    <div ng-show="companyBankAccounts.length == 0">
        <h4>No company banks are available. You can add one in Settings</h4>
    </div>
</div>
<div ba-panel ng-show="loadingCompanyBankAccounts">
    <loading-image></loading-image>
</div>
