<div ba-panel ba-panel-title="Account Controls">
    <div class="divider">
        <p class="divider"><strong>Transaction Controls:</strong></p>
        <div>
            <label  class="checkbox-inline custom-checkbox nowrap">
                <input type="checkbox" ng-change="saveControls(controls[0])" ng-model="controls[0].enabled" ng-checked="controls[0].enabled">
                <span> Allow transactions</span>
            </label>
        </div>
    </div>
    <hr>
    <div class="margin-bottom-ten-px">
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" ng-change="saveControls(controls[1])" ng-model="controls[1].enabled" ng-checked="controls[1].enabled">
            <span> Allow transfer transactions</span>
        </label>
    </div>
    <div class="margin-bottom-ten-px">
        <label class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" ng-change="saveControls(controls[2])" ng-model="controls[2].enabled" ng-checked="controls[2].enabled">
            <span> Allow deposit transactions</span>
        </label>
    </div>
    <div class="margin-bottom-ten-px">
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" ng-change="saveControls(controls[3])" ng-model="controls[3].enabled" ng-checked="controls[3].enabled">
            <span> Allow withdraw transactions</span>
        </label>
    </div>
    <hr>
</div>
