<div ng-hide="loadingUserSwitches" ba-panel ba-panel-title="Edit user switch" ba-panel-class="light-text with-scroll">
    <form name="editUserSwitchForm" class="custom-form" novalidate>
        <div class="form-group">
            <label><strong>Transaction type</strong> <span class="required-icon">*</span></label>
            <br>
            <select class="form-control pointer" ng-change="userSwitchChanged('tx_type')" ng-model="editUserSwitch.tx_type" ng-options="option for option in userSwitchesOptions" required>
            </select>
        </div>
        <div class="form-group">
            <label><strong>Subtype</strong></label>
            <input type="text" class="form-control" ng-change="userSwitchChanged('subtype')" ng-model="editUserSwitch.subtype" placeholder="Enter Subtype" />
        </div>
        <div class="form-group">
            <label><strong>Enabled</strong></label>
            <br>
            <select class="form-control pointer" ng-change="userSwitchChanged('enabled')" ng-model="editUserSwitch.enabled" ng-options="bool for bool in boolOptions" required>
            </select>
        </div>
        <div class="form-group">
            <button ng-click="updateUserSwitch()" ng-disabled="!editUserSwitchForm.$valid" class="btn btn-primary pull-right">Save</button>
            <button ng-click="toggleUserSwitchesEditView()" class="btn btn-primary pull-right margin-right-10">Back</button>
        </div>
    </form>
</div>
