<div ng-hide="passwordChanged" class="auth-main">
    <div class="auth-block text-center">
        <h1>Change password</h1>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="password" ng-model="passwordChangeParams.old_password" class="form-control" id="inputPasswordOld" placeholder="Old Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="password" ng-model="passwordChangeParams.new_password1" class="form-control" id="inputPassword1" placeholder="Password 1">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="password" ng-model="passwordChangeParams.new_password2" class="form-control" id="inputPassword2" placeholder="Password 2">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button ng-click="changePassword(passwordChangeParams)" ng-disabled="changingPassword" class="btn change-password-button btn-primary btn-auth pull-right">Change Password</button>
                    <a ng-click="goToDashboard()" class="forgot-pass pointer pull-left">Back to dashboard</a>
                </div>
            </div>
        </form>

    </div>
</div>
<div ng-show="passwordChanged" class="auth-main">
    <div class="auth-block text-center">
        <h1>Password changed successfully</h1>
        <a ng-click="goToDashboard()" class="pointer">Back to dashboard</a>
    </div>
</div>
