@media screen and (min-width: 1620px) {
  .row.shift-up {
    > div {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
 .panel.feed-panel.large-panel {
   height: 824px;
 }
}

.user-stats-panel {
  .panel-title {
    padding: 0 0 15px;
  }
}

.blurCalendar{
  height: 475px;
  left:30px;
}

// css by Aquibur Rahman Khan

.divider{
  margin-bottom: 20px;
}

.logo{
  height: 60px;
  width: 60px;
  margin: 10px 0;
}

.table > tbody > tr > td{
  vertical-align: middle;
}

.hr-top-border{
  border-top: 1px solid gainsboro;
}

.currencies-buttons{
  margin: 10px 0 10px 10px;
  width: 100px;
}

.currency-row-last-child{
  padding-right: 0 !important;
}

.pointer{
  cursor: pointer;
}

.add-currency-link button{
  margin-bottom: 18px;
}

// css by Aquibur Rahman Khan end
