// by Aquibur Rahman Khan

.imageCenter{
  display: block;
  margin: auto;
}

.depositsMenu .depositsMenuOptions{
  padding: 10px 10px 1px 10px;
  box-sizing: border-box;
}

.depositsMenu .depositsMenuOptions:hover{
  background-color: #ededed;
}

.depositForm .requiredIcon{
  color: #ff7171;
} 