// by Aquibur Rahman Khan

.image-center{
  display: block;
  margin: 10px auto 25px auto;
}

.margin-right{
  margin-right: 20px;
}

.deposits-menu .deposits-menu-options{
  padding: 10px;
  box-sizing: border-box;
}

.deposits-menu .deposits-menu-options:hover{
  background-color: #f5f5f5;
}

.deposit-form .required-icon{
  color: #ff7171;
}

.transaction-details-button{
  width: auto;
}

.apply-button{
  button{
    width: 100%;
  }
}
