<div class="tier-form" ba-panel>
    <div class="divider">
        <h2>Basic Information</h2>
        <i>Select required fields for this tier.</i>
    </div>
    <div class="divider">
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" ng-change="toggleTierRequirements('first_name')" ng-model="tierRequirementFields.first_name">
            <span>First Name</span>
        </label>
    </div>
    <div class="divider">
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" ng-change="toggleTierRequirements('last_name')" ng-model="tierRequirementFields.last_name">
            <span>Last Name</span>
        </label>
    </div>
    <div class="divider">
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" ng-change="toggleTierRequirements('nationality')" ng-model="tierRequirementFields.nationality">
            <span>Nationality</span>
        </label>
    </div>
    <div class="divider">
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" ng-change="toggleTierRequirements('birth_date')" ng-model="tierRequirementFields.birth_date">
            <span>Birth Date</span>
        </label>
    </div>
    <div class="divider">
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" ng-change="toggleTierRequirements('id_number')" ng-model="tierRequirementFields.id_number">
            <span>ID Number</span>
        </label>
    </div>
    <div class="divider">
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" ng-change="toggleTierRequirements('language')" ng-model="tierRequirementFields.language">
            <span>Language</span>
        </label>
    </div>
    <div class="divider">
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" ng-change="toggleTierRequirements('address')" ng-model="tierRequirementFields.address">
            <span>Address</span>
        </label>
    </div>
    <div class="divider">
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" ng-change="toggleTierRequirements('bank_account')" ng-model="tierRequirementFields.bank_account">
            <span> Bank Account</span>
        </label>
    </div>
    <div class="divider">
        <h2>Account Verification</h2>
        <i>Select required verification checks for this tier.</i>
    </div>
    <div class="divider">
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" ng-change="toggleTierRequirements('email_address')" ng-model="tierRequirementFields.email_address">
            <span>Verified Email Address</span>
        </label>
    </div>
    <div class="divider">
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" ng-change="toggleTierRequirements('mobile_number')" ng-model="tierRequirementFields.mobile_number">
            <span>Verified Mobile Number</span>
        </label>
    </div>
    <div class="divider">
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" ng-change="toggleTierRequirements('proof_of_identity')" ng-model="tierRequirementFields.proof_of_identity">
            <span>Verified Proof of Identity</span>
        </label>
    </div>
    <div class="divider">
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" ng-change="toggleTierRequirements('proof_of_address')" ng-model="tierRequirementFields.proof_of_address">
            <span>Verified Proof of Address</span>
        </label>
    </div>
    <div class="divider">
        <h2>Advanced Account Verification</h2>
        <i>Select required advanced verification checks for this tier.</i>
    </div>
    <div class="divider">
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox" ng-change="toggleTierRequirements('advanced_proof_of_identity')" ng-model="tierRequirementFields.advanced_proof_of_identity">
            <span>Verified Confirmation ID</span>
        </label>
    </div>
</div>
