<div ba-panel ba-panel-title="Filters" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form class="form-inline">
                <div class="form-group">
                    <label><b>User</b></label>
                    <input type="text" ng-model="user" class="form-control search-input" id="user"  placeholder="Email,mobile,etc." size="12">
                </div>
                <div class="form-group">
                    <label><b>From Date</b></label>
                    <input type="date" ng-model="date_from" class="form-control search-input" id="date_from"  placeholder="Date From">
                </div>
                <div class="form-group">
                    <label><b>To Date</b></label>
                    <input type="date" ng-model="date_to" class="form-control search-input" id="date_to"  placeholder="Date To">
                </div>
                <div class="form-group">
                    <label><b>Type</b></label>
                    <br>
                    <select class="form-control search-input pointer" ng-model="searchType" ng-options="type for type in typeOptions">
                    </select>
                </div>
                <div class="form-group">
                    <label><b>Status</b></label>
                    <br>
                    <select class="form-control search-input pointer" ng-model="searchStatus" ng-options="status for status in statusOptions">
                    </select>
                </div>
                <div class="form-group">
                    <label><b>Currency</b></label>
                    <br>
                    <select class="form-control search-input pointer" ng-model="searchCurrency"
                            ng-options="currency.code for currency in currencyOptions track by currency.code">
                    </select>
                </div>
                <div class="form-group">
                    <label>&nbsp;</label>
                    <br>
                    <button class="btn btn-primary">Apply</button>
                </div>
                <div class="form-group pull-right">
                    <label><b>Order By</b></label>
                    <br>
                    <select class="form-control search-input pointer" ng-model="orderBy" ng-options="orderBy for orderBy in orderByOptions">
                    </select>
                </div>
            </form>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

        </div>
    </div>
</div>
<div ba-panel ba-panel-title="Transactions" ba-panel-class=" with-scroll" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="divider">
        <table ng-show="transactions.length > 0" class="table table-condensed table-striped table-hover ">
            <tr class="black-muted-bg">
                <td><b>Code</b></td>
                <td><b>From</b></td>
                <td><b>To</b></td>
                <td><b>Type</b></td>
                <td><b>Subtype</b></td>
                <td><b>Currency</b></td>
                <td><b>Account</b></td>
                <td><b>Amount</b></td>
                <td><b>Fee</b></td>
                <td><b>Status</b></td>
                <td><b>Date</b></td>
            </tr>
            <tr ng-repeat="transaction in transactions " data-toggle="modal"
                ng-click="openModal('app/pages/dashboard/latestTransactions/transactionModal/transactionModal.html', 'md',transaction)"
                class="editable-row center pointer">
                <td class="table-row-center" ng-bind="transaction.tx_code"></td>
                <td class="table-row-center" ng-bind="transaction.from_reference"></td>
                <td class="table-row-center" ng-bind="transaction.to_reference"></td>
                <td class="table-row-center" ng-bind="transaction.tx_type"></td>
                <td class="table-row-center" ng-bind="transaction.subtype || 'None'"></td>
                <td class="table-row-center" ng-bind="transaction.currency.code"></td>
                <td class="table-row-center" ng-bind="transaction.from_account"></td>
                <td class="table-row-center" ng-bind="transaction.amount"></td>
                <td class="table-row-center" ng-bind="transaction.fee"></td>
                <td class="table-row-center" ng-bind="transaction.status"></td>
                <td class="table-row-center" >{{transaction.created | date:'mediumDate'}} {{transaction.created | date:'shortTime'}}</td>
            </tr>
        </table>
    </div>
    <div ng-show="transactions.length == 0">
        <h3 ng-bind="transactionsStateMessage"></h3>
    </div>
</div>