<div>
    <div>
        <h2>Basic Information</h2>
        <i>Select required fields for this tier.</i>
    </div>
    <br>
    <div>
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox"  ng-model="withdrawalData.confirm_on_create">
            <span>First Name</span>
        </label>
    </div>
    <br>
    <div>
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox"  ng-model="withdrawalData.confirm_on_create">
            <span>Last Name</span>
        </label>
    </div>
    <br>
    <div>
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox"  ng-model="withdrawalData.confirm_on_create">
            <span>Nationality</span>
        </label>
    </div>
    <br>
    <div>
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox"  ng-model="withdrawalData.confirm_on_create">
            <span>Birthdate</span>
        </label>
    </div>
    <br>
    <div>
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox"  ng-model="withdrawalData.confirm_on_create">
            <span>ID Number</span>
        </label>
    </div>
    <br>
    <div>
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox"  ng-model="withdrawalData.confirm_on_create">
            <span>Language</span>
        </label>
    </div>
    <br>
    <div>
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox"  ng-model="withdrawalData.confirm_on_create">
            <span> Address</span>
        </label>
    </div>
    <br>
    <div>
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox"  ng-model="withdrawalData.confirm_on_create">
            <span> Bank Account</span>
        </label>
    </div>
    <br>
    <div>
        <h2>Account Verification</h2>
        <i>Select required verification checks for this tier.</i>
    </div>
    <br>
    <div>
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox"  ng-model="withdrawalData.confirm_on_create">
            <span>Verified Email Address</span>
        </label>
    </div>
    <br>
    <div>
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox"  ng-model="withdrawalData.confirm_on_create">
            <span>Verified Mobile Number</span>
        </label>
    </div>
    <br>
    <div>
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox"  ng-model="withdrawalData.confirm_on_create">
            <span>Verified Proof of Identity</span>
        </label>
    </div>
    <br>
    <div>
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox"  ng-model="withdrawalData.confirm_on_create">
            <span>Verified Proof of Address</span>
        </label>
    </div>
    <div>
        <h2>Advanced Account Verification</h2>
        <i>Select required advanced verification checks for this tier.</i>
    </div>
    <br>
    <div>
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox"  ng-model="withdrawalData.confirm_on_create">
            <span>Verified Confirmation ID</span>
        </label>
    </div>
    <br>
    <button class="btn btn-primary pull-right" ng-click="saveTierRequirements()">Save</button>
</div>