<div class="auth-main">
    <div class="auth-block text-center">
        <h1>Sign Up</h1>
        <a href="/#/login" class="auth-link">Already have a Rehive account? Sign in!</a>

        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" ng-model="registerData.first_name" class="form-control" id="firstName" placeholder="First Name*">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" ng-model="registerData.last_name" class="form-control" id="lastName" placeholder="Last Name*">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="email" ng-model="registerData.email" class="form-control" id="inputEmail1" placeholder="Email*">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" ng-model="registerData.mobile_number" class="form-control" id="mobileNumber" placeholder="Mobile Number">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" ng-change="fixformat(company)" ng-model="registerData.company" class="form-control" id="inputName1" placeholder="Choose a unique ID for your company*">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="password" ng-model="registerData.password1" class="form-control" id="inputPassword1" placeholder="Password*">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="password" ng-model="registerData.password2" class="form-control" id="inputPassword2" placeholder="Retype Password*">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button ng-click="registerUser()" class="btn btn-primary btn-auth pull-right">Sign up</button>
                </div>
            </div>
        </form>
    </div>
</div>