<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add document</h4>
    </div>
    <div class="modal-body">
        <div class="divider">
            <img ng-show="userDocumentParams.file" ngf-thumbnail="userDocumentParams.file" height="500px" width="100%">
        </div>
        <form name="addDocumentForm" novalidate>
            <fieldset class="divider">
                <input ng-change="documentChanged()" type="file" ngf-select ng-model="userDocumentParams.file" name="file"
                       accept="image/*" ngf-max-size="10MB" required>
            </fieldset>
            <div class="form-group">
                <label><strong>Document type</strong> <span class="required-icon">*</span></label>
                <br>
                <select class="form-control pointer" ng-model="userDocumentParams.document_type" ng-options="type for type in documentTypeOptions" required>
                </select>
            </div>
            <div class="form-group">
                <label><strong>Issued by</strong> <span class="required-icon">*</span></label>
                <br>
                <input type="text" class="form-control" placeholder="Issued by" required>
            </div>
            <div class="form-group">
                <label><strong>Issued date</strong> <span class="required-icon">*</span></label>
                <br>
                <input type="date" placeholder="Issued date" class="input-form-date" required>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" ng-click="$dismiss()">Close</button>
        <button ng-click="addDocument()" ng-disabled="addingDocument || !documentSelected" type="button" class="btn btn-primary pull-right">Add</button>
    </div>
</div>
