<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div ng-hide="loadingCurrencies" class="panel panel-primary">
            <div class="panel-heading custom-panel-heading"><h1>{{activeCurrency.currency.code}} {{activeCurrency.balance | currencyModifiersFilter: activeCurrency.currency.divisibility | preciseRound: activeCurrency.currency.divisibility}}</h1></div>
            <div class="panel-body">
                <div class="accountBalance-panel-body">
                    <p ng-click="showView = 'ether'">Buy with ethereum</p>
                    <p ng-click="showView = 'bitcoin'">Buy with bitcoin</p>
                    <p ng-click="showView = 'euro'">Buy with euro</p>
                </div>
            </div>
        </div>
        <div ba-panel ng-show="loadingCurrencies">
            <loading-image></loading-image>
        </div>
    </div>
    <div ng-show="showView == 'euro'" class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
        <buy-with-euro></buy-with-euro>
    </div>
    <div ng-show="showView == 'bitcoin'" class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
        <buy-with-bitcoin></buy-with-bitcoin>
    </div>
    <div ng-show="showView == 'ether'" class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
        <buy-with-ether></buy-with-ether>
    </div>
</div>