<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Delete Webhook</h4>
    </div>
    <div class="modal-body">
        <p>{{transactionWebhook.event | capitalizeDottedSentence}}, {{transactionWebhook.tx_type ? transactionWebhook.tx_type : 'all' | capitalizeWord}}, {{transactionWebhook.url}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-left" ng-click="$dismiss()">Close</button>
        <button ng-click="deleteTransactionWebhook()" ng-disabled="deletingTransactionWebhook" type="button" class="btn btn-danger pull-right" ng-click="">Delete</button>
    </div>
</div>
