<div ba-panel class="menu-box" ba-panel-title="Currency settings" ba-panel-class="light-text">
    <div class="menu-hex-container">
        <div class="hexagon"></div>
        <div class="hex-over">{{selectedCurrency.code}}</div>
    </div>
    <hr class="no-margin">
    <div ng-click="goToCurrencySetting('/currency/settings/bank-accounts')" class="pointer menu-box-options">
        <h5>Bank accounts <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToCurrencySetting('/currency/settings/tiers')" class="pointer menu-box-options">
        <h5>Tiers <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToCurrencySetting('/currency/settings/tier/requirements')" class="pointer menu-box-options">
    <h5>Tier requirements <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToCurrencySetting('/currency/settings/tier/limits')" class="pointer menu-box-options">
        <h5>Tier limits <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToCurrencySetting('/currency/settings/tier/fees')" class="pointer menu-box-options">
        <h5>Tier fees <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToCurrencySetting('/currency/settings/tier/switches')" class="pointer menu-box-options">
        <h5>Tier switches <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
</div>
