<div ba-panel class="menu-box" ba-panel-title="Currency Settings" ba-panel-class="light-text">
    <div class="menu-hex-container">
        <div class="hexagon"></div>
        <div class="hex-over">{{selectedCurrency.code}}</div>
    </div>
    <hr class="no-margin">
    <div ng-click="goToCurrencySetting('bankaccounts')" class="pointer menu-box-options">
        <h5>Bank Accounts <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <!--<hr class="no-margin">-->
    <!--<div ng-click="goToCurrencySetting('fees')" class="pointer menu-box-options">-->
        <!--<h5>Fees <i class="pull-right ion-chevron-right"></i></h5>-->
    <!--</div>-->
    <!--<hr class="no-margin">-->
    <!--<div ng-click="goToCurrencySetting('tierrequirements')" class="pointer menu-box-options">-->
        <!--<h5>Tier Requirements <i class="pull-right ion-chevron-right"></i></h5>-->
    <!--</div>-->
    <!--<hr class="no-margin">-->
    <!--<div ng-click="goToCurrencySetting('tierlimits')" class="pointer menu-box-options">-->
        <!--<h5>Tier Limits <i class="pull-right ion-chevron-right"></i></h5>-->
    <!--</div>-->
    <!--<hr class="no-margin">-->
    <!--<div ng-click="goToCurrencySetting('controls')" class="pointer menu-box-options">-->
        <!--<h5>Controls <i class="pull-right ion-chevron-right"></i></h5>-->
    <!--</div>-->
    <hr class="no-margin">
</div>