<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Delete Tier Limits</h4>
    </div>
    <div class="modal-body">
        <p>Tx Type: {{tierLimit.tx_type | capitalizeWord}}</p>
        <p>Type: {{tierLimit.type | capitalizeWord}}</p>
        <p>Subtype: {{tierLimit.subtype ? tierLimit.subtype.name : 'None'}}</p>
        <p>Value: {{tierLimit.value}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-left" ng-click="$dismiss()">Close</button>
        <button ng-click="deleteTierLimit()" ng-disabled="deletingTierLimits" type="button" class="btn btn-danger pull-right">Delete</button>
    </div>
</div>
