<div ng-hide="loadingUserAddress || addingUserAddress" ba-panel ba-panel-title="Addresses">
    <button ng-click="toggleAddUserAddressView()" class="btn btn-primary pull-right user-accounts-btn divider">Add</button>
    <div  ng-repeat="address in userAddresses">
        <table class="table table-striped user-details-table divider">
            <tr>
                <th width="50%"><strong>Line 1</strong></th>
                <th>{{address.line_1 || 'None'}}</th>
            </tr>
            <tr>
                <th width="50%"><strong>Line 2</strong></th>
                <th>{{address.line_2 || 'None'}}</th>
            </tr>
            <tr>
                <th width="50%"><strong>City</strong></th>
                <th>{{address.city || 'None'}}</th>
            </tr>
            <tr>
                <th width="50%"><strong>State/Province</strong></th>
                <th>{{address.state_province || 'None'}}</th>
            </tr>
            <tr>
                <th width="50%"><strong>Country</strong></th>
                <th>{{address.country || 'None'}}</th>
            </tr>
            <tr>
                <th width="50%"><strong>Postal Code</strong></th>
                <th>{{address.postal_code || 'None'}}</th>
            </tr>
        </table>
        <button ng-click="openUserAddressModal('app/pages/users/userDetails/userAddress/userAddressModal/userAddressModal.html','md',address)" class="btn btn-danger pull-right user-accounts-btn divider">Delete</button>
        <button ng-click="toggleAddUserAddressView()" class="btn btn-primary pull-right user-accounts-btn divider margin-right-10">Edit</button>
    </div>
</div>
<div ba-panel ng-show="loadingUserAddress">
    <loading-image></loading-image>
</div>
<div ng-show="addingUserAddress">
    <add-user-address></add-user-address>
</div>