<div ba-panel class="bank-accounts" ba-panel-title="Currency Controls" ba-panel-class="light-text">
    <div>
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox"  ng-model="withdrawalData.confirm_on_create">
            <span>Allow transactions</span>
        </label>
    </div>
    <hr>
    <div class="divider">
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox"  ng-model="withdrawalData.confirm_on_create">
            <span>Allow transfer transactions</span>
        </label>
    </div>
    <div class="divider">
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox"  ng-model="withdrawalData.confirm_on_create">
            <span>Allow credit transactions</span>
        </label>
    </div>
    <div>
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox"  ng-model="withdrawalData.confirm_on_create">
            <span>Allow withdraw transactions</span>
        </label>
    </div>
    <hr>
    <div>
        <button ng-click="" class="btn btn-primary pull-right">Save</button>
    </div>
</div>