<div ng-hide="newUser || loadingServices" ba-panel ba-panel-title="Services" ba-panel-class=" with-scroll" >
    <div>
        <button class="btn btn-success pull-right divider" ng-click="addService()">Add</button>
    </div>
    <div>
        <table class="table">
            <tr  width="15%" class="black-muted-bg">
                <td><strong>Logo</strong></td>
                <td><strong>Name</strong></td>
                <td><strong>Description</strong></td>
                <td></td>
            </tr>
            <tr ng-repeat="service in servicesList" class="editable-row">
                <td width="15%"><img ng-src="{{defaultImageUrl}}" class="currency-logo"></td>
                <td  width="15%" ng-bind="service.name"></td>
                <td width="30%" ng-bind="service.description"></td>
                <td class="rehive-table-row-last-child"><button ng-click="goToService(service)" class="btn btn-primary pull-right rehive-button-no-right-margin">Manage</button></td>
            </tr>
        </table>
        <hr class="no-margin hr-top-border">
    </div>
</div>
<div ba-panel ng-show="loadingServices">
    <loading-image></loading-image>
</div>
<div ng-show="newUser">
    <div class="row">
        <initial-add-currency></initial-add-currency>
    </div>
</div>
