<div class="tier-limits">
    <uib-tabset  active="activeLimitsTier">
        <uib-tab ng-click="selectLimitsTier('Tier 1')" heading="Tier 1">
            <tier-limits-form></tier-limits-form>
        </uib-tab>
        <uib-tab ng-click="selectLimitsTier('Tier 2')" heading="Tier 2">
            <tier-limits-form></tier-limits-form>
        </uib-tab>
        <uib-tab ng-click="selectLimitsTier('Tier 3')" heading="Tier 3">
            <tier-limits-form></tier-limits-form>
        </uib-tab>
    </uib-tabset>
</div>