<div ng-hide="loadingUserAccountInfo">
    <div ba-panel ba-panel-title="Add user email" ba-panel-class="light-text with-scroll">
        <form name="userEmailForm" class="custom-form">
            <div class="form-group">
                <label><strong>Email</strong> <span class="required-icon">*</span></label>
                <input type="email" ng-model="newUserEmail.email" class="form-control"  placeholder="Enter email" required>
            </div>
            <div class="form-group">
                <label><strong>Primary</strong> <span class="required-icon">*</span></label>
                <br>
                <select class="form-control pointer" ng-model="newUserEmail.primary" ng-options="bool for bool in booleanOptions" required>
                </select>
            </div>
            <div class="form-group">
                <label><strong>Verified</strong> <span class="required-icon">*</span></label>
                <br>
                <select class="form-control pointer" ng-model="newUserEmail.verified" ng-options="bool for bool in booleanOptions" required>
                </select>
            </div>
            <div class="form-group">
                <button ng-disabled="!userEmailForm.$valid" ng-click="createUserEmail(newUserEmail)" class="btn btn-primary pull-right user-accounts-btn">Add</button>
                <button ng-click="toggleAddUserEmailsView()" class="btn btn-primary pull-right user-accounts-btn margin-right-10">Back</button>
            </div>
        </form>
    </div>
</div>
