<div ng-hide="editingBankAccounts">
    <div ba-panel class="setting-bank-accounts" ba-panel-title="Bank Accounts" ba-panel-class="light-text with-scroll">
        <table class="table table-striped setting-bank-accounts-table">
            <tr>
                <td>Barclays, 47484950</td>
                <td>
                    <button class="btn btn-danger pull-right settings-fees-buttons">Delete</button>
                    <button ng-click="toggleEditView()" class="btn btn-info pull-right settings-fees-buttons">Edit</button>
                </td>
            </tr>
        </table>
    </div>
    <div ba-panel ba-panel-title="Add Bank Account" ba-panel-class="light-text with-scroll">
        <form class="deposit-form">
            <div class="form-group">
                <label><b>Account Name/Holder</b></label>
                <input type="text" ng-model="bankData.accountName" class="form-control"  placeholder="E.g Currency Corp">
            </div>
            <div class="form-group">
                <label><b>Account Number</b></label>
                <input type="text" ng-model="bankData.accountName" class="form-control"  placeholder="E.g 5246357653">
            </div>
            <div class="form-group">
                <label><b>Account Type</b></label>
                <input type="text" ng-model="bankData.accountName" class="form-control"  placeholder="E.g Cheque/Current/Savings">
            </div>
            <div class="form-group">
                <label><b>Bank Name</b></label>
                <input type="text" ng-model="bankData.accountName" class="form-control"  placeholder="E.g Saharah Bank Ltd">
            </div>
            <div class="form-group">
                <label><b>Bank Code</b></label>
                <input type="text" ng-model="bankData.accountName" class="form-control"  placeholder="E.g 342543">
            </div>
            <div class="form-group">
                <label><b>Branch Code</b></label>
                <input type="text" ng-model="bankData.accountName" class="form-control"  placeholder="E.g 456798">
            </div>
            <div class="form-group">
                <label><b>Bank/Branch Address</b></label>
                <input type="text" ng-model="bankData.accountName" class="form-control divider"  placeholder="Address line 1">
                <input type="text" ng-model="bankData.accountName" class="form-control divider"  placeholder="Address line 2">
                <input type="text" ng-model="bankData.accountName" class="form-control divider"  placeholder="City">
                <country-select class="form-control pointer divider" data-ng-model="administrator.country"></country-select>
                <input type="text" ng-model="bankData.accountName" class="form-control divider"  placeholder="Code/Zipcode">
            </div>
            <div class="form-group">
                <label><b>SWIFT</b></label>
                <input type="text" ng-model="bankData.accountName" class="form-control"  placeholder="E.g FDDODUMM">
            </div>
            <div class="form-group">
                <label><b>IBAN</b></label>
                <input type="text" ng-model="bankData.accountName" class="form-control"  placeholder="E.g DE41700333001189190812">
            </div>
            <div class="form-group">
                <label><b>BIC</b></label>
                <input type="text" ng-model="bankData.accountName" class="form-control"  placeholder="E.g FDDODUMMXXX">
            </div>
            <div class="form-group">
                <button class="btn btn-primary pull-right">Add</button>
            </div>
        </form>
    </div>
</div>
<div ng-show="editingBankAccounts">
    <edit-bank-account></edit-bank-account>
</div>