<div class="row">
    <div ng-hide="loadingAdminEmails || addingEmail" ba-panel ba-panel-title="Admin Emails">
        <div class="divider admin-emails">
            <table class="table table-striped admin-emails-table">
                <tr class="black-muted-bg divider">
                    <th>Primary</th>
                    <th>Email</th>
                    <th>Verified</th>
                    <th></th>
                </tr>
                <tr ng-repeat="email in adminEmailsList">
                    <th><label  class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" ng-change="updateEmail(email)" ng-model="email.primary" ng-checked="email.primary">
                        <span></span>
                        </label>
                    </th>
                    <th title="{{email.email}}" ng-bind="email.email | limitTo: '24'"></th>
                    <th ng-bind="email.verified ? 'True': 'False'"></th>
                    <th class="rehive-table-row-last-child">
                        <button ng-click="deleteEmail(email)" class="btn btn-danger pull-right rehive-settings-buttons">Delete</button>
                    </th>
                </tr>
            </table>
        </div>
        <div>
            <button ng-click="toggleAddEmailView()" class="btn btn-primary pull-right divider">Add</button>
            <button ng-click="goToAccountInfo()" class="btn btn-primary pull-right margin-right-10">Back</button>
        </div>
    </div>
</div>
<div class="row">
    <div ba-panel ng-show="loadingAdminEmails">
        <loading-image></loading-image>
    </div>
</div>
<div ng-show="addingEmail">
    <add-email></add-email>
</div>
