<div ba-panel ba-panel-title="Confirm Debit" ba-panel-class="light-text">
    <div class="confirm-transaction">
        <p>You are about to debit <strong>{{selectedCurrency.symbol}} {{debitData.amount}}</strong> from <strong>{{debitData.user}}</strong>
        </p>
    </div>
    <div >
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-disabled="onGoingTransaction" ng-click="createDebit()" class="btn btn-primary pull-right">Confirm</button>
            <button ng-disabled="onGoingTransaction" ng-click="goToView('createDebit')"
            class="btn btn-primary pull-right margin-right-10">Back</button>
        </div>
    </div>
</div>
