<div class="auth-main">
    <div class="auth-block">
        <div class="text-center divider">
            <h1>Account verification.</h1>
            <p>Before proceeding, please verify your account.</p>
        </div>
        <div class="verification-text divider">
            <p>In order to maintain high security standards Rehive requires a verified email. Please check your inbox for an email from Rehive.</p>
            <p>Haven't received a verification email? <a ng-click="resendEmail()" class="verification-link">Resend email</a></p>
        </div>
        <button ng-disabled="verifyingEmail" ng-click="verifyUser()" class="btn btn-primary verification-button">Continue</button>
    </div>

</div>