<div ng-hide="loadingTransactionWebhooks" ba-panel ba-panel-title="Edit Webhook" ba-panel-class="light-text with-scroll">
    <form name="editTransactionWebhooksForm" class="custom-form" novalidate>
        <div class="form-group">
            <label><strong>Transaction Type</strong> <span class="required-icon">*</span></label>
            <br>
            <select class="form-control pointer" ng-change="transactionWebhookChanged('tx_type')" ng-model="editTransactionWebhook.tx_type" ng-options="type for type in typeOptions" required>
            </select>
        </div>
        <div class="form-group">
            <label><strong>Webhook URL</strong> <span class="required-icon">*</span></label>
            <input ng-change="transactionWebhookChanged('url')" type="text" ng-model="editTransactionWebhook.url" class="form-control"  placeholder="URL" required>
        </div>
        <div class="form-group">
            <label><strong>Webhook Secret</strong> <span class="required-icon">*</span></label>
            <input ng-change="transactionWebhookChanged('secret')" type="text" ng-model="editTransactionWebhook.secret" class="form-control"  placeholder="Secret" required>
        </div>
        <div class="form-group">
            <button ng-click="updateTransactionWebhook()" ng-disabled="!editTransactionWebhooksForm.$valid" class="btn btn-primary pull-right">Save</button>
            <button ng-click="toggleTransactionWebhooksEditView()" class="btn btn-primary pull-right margin-right-10">Back</button>
        </div>
    </form>
</div>