<div ba-panel  ba-panel-title="Create Transfers" ba-panel-class="light-text">
    <form name="transferForm" class="depositForm">
        <div class="form-group">
            <label><b>User</b> <span class="requiredIcon">*</span></label>
            <input type="email" ng-model="transferData.user" class="form-control" placeholder="E.g email@domain.com" required>
        </div>
        <div class="form-group">
            <label><b>Recipient</b> <span class="requiredIcon">*</span></label>
            <input type="email" ng-model="transferData.reference" class="form-control"  placeholder="E.g email@domain.com" required>
        </div>
        <div class="form-group">
            <label><b>Amount</b> <span class="requiredIcon">*</span></label>
            <input type="number" ng-model="transferData.amount" class="form-control"  placeholder="E.g 100000000" required>
        </div>
        <div class="form-group">
            <button ng-disabled="!transferForm.$valid" ng-click="toggleConfirmTransferView(confirmTransferView)" class="btn btn-primary pull-right">Next</button>
        </div>
    </form>
</div>