<div ng-show="!makingBitcoinPayment">
    <div class="panel">
        <div class="panel-heading"><h2 class="custom-buy-with-header">Buy with bitcoin</h2></div>
        <div class="panel-body">
            <form class="form-horizontal col-lg-12 custom-form-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><strong>BTC</strong></label>
                    <div class="col-sm-10">
                        <input type="number" step="any" ng-model="btc" class="form-control" placeholder="0.00000000" ng-change="btcWatt = +(btc / btcRate).toFixed(currency.currency.divisibility)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><strong>{{currency.currency.code}}</strong></label>
                    <div class="col-sm-10">
                        <input type="number" step="any" ng-model="btcWatt" class="form-control" placeholder="0.00" ng-change="btc = +(btcWatt * btcRate).toFixed(divisibilityBtc)">
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="placeQuote(btc)" class="btn btn-primary pull-right">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div ng-show="makingBitcoinPayment">
    <make-bitcoin-payment></make-bitcoin-payment>
</div>
