<div class="auth-main">
    <div class="auth-block text-center">
        <h1>Password Reset</h1>
        <p class="auth-link">Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="email" ng-model="user" class="form-control" id="inputEmail1" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input type="text" ng-model="company" class="form-control" id="inputCompany1" placeholder="CompanyID">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <button ng-click="resetPassword(user,company)" class="btn btn-primary btn-auth pull-right">Reset</button>
                    <a href="/#/login" class="forgot-pass pull-left">Back</a>
                </div>
            </div>
        </form>

    </div>
</div>