<div>
    <auth-navigation></auth-navigation>
</div>
<div class="auth-main">
    <div class="auth-block text-center">
        <h1>Identity verification <span class="text-muted">| Documents</span></h1>
        <form class="form-horizontal">
            <table class="table table-condensed table-striped table-hover divider">
                <tr class="black-muted-bg">
                    <th width="55%"><h4><strong>Description</strong></h4></th>
                    <th class="pull-left"><h4><strong>Status</strong></h4></th>
                </tr>
                <tr ng-repeat="document in documents | orderBy: '-created'" data-toggle="modal"
                    ng-click="openDocumentModal('app/pages/register/verifyDocument/verifyDocumentModal/verifyDocumentModal.html', 'lg',document)"
                    class="editable-row center pointer">
                    <td width="55%"><div title="{{document.description}}" class="transactions-list-element"
                             ng-bind="document.description"></div></td>
                    <td  class="pull-left"><div title="{{document.status}}" class="transactions-list-element"
                             ng-bind="document.status"></div></td>
                </tr>
            </table>
            <div>
                <button class="btn btn-primary pull-right">Upload</button>
            </div>
        </form>
    </div>
</div>
