<div ba-panel  ba-panel-title="Confirm Transfer" ba-panel-class="light-text">
    <div class="confirm-transaction">
        <p>You are about to transfer <strong>{{selectedCurrency.symbol}} {{transferData.amount}}</strong> from <strong>{{transferData.user}}</strong>
            to <strong>{{transferData.reference}}</strong></p>
    </div>
    <div >
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-disabled="onGoingTransaction" ng-click="createTransfer()" class="btn btn-primary pull-right">Confirm</button>
            <button ng-disabled="onGoingTransaction" ng-click="toggleConfirmTransferView(confirmTransferView)" class="btn btn-info pull-right margin-right">Back</button>
        </div>
    </div>
</div>