<div ba-panel class="bank-accounts" ba-panel-title="Bank Accounts" ba-panel-class="light-text">
    <div>
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox"  ng-model="withdrawalData.confirm_on_create">
            <span>Select All</span>
        </label>
    </div>
    <hr class="bank-accounts-hr">
    <div>
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input type="checkbox">
            <span>Barclays, 47484950</span>
        </label>
    </div>
    <hr class="bank-accounts-hr">
    <div>
        <button ng-click="" class="btn btn-primary pull-right">Save</button>
        <sub class="subscript pull-left">*Go to Settings to edit bank account details.</sub>
    </div>
</div>