<div ba-panel class="menu-box">
    <div class="menu-hex-container">
        <div class="hexagon"></div>
        <div class="hex-over">{{selectedCurrency.code}}</div>
    </div>
    <hr class="no-margin">
    <div ng-click="toggleDebitView('debit')" class="pointer menu-box-options">
        <h5>Debit <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="toggleDebitView('pending')" class="pointer menu-box-options">
        <h5>Pending <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
</div>
