<div ng-hide="allVerified && ethereumAddressVerified">
    <div ng-hide="loadingRegisterProgressView" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 register-progress-box">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 register-cirles">
            <div ng-show="emailVerified" class="register-circle-checked">
                <span><i class="glyphicon glyphicon-ok"></i></span>
            </div>
            <div ng-click="goToGetVerified('/email/verify')" ng-hide="emailVerified" class="register-circle-unchecked pointer">
                <span>1</span>
            </div>
            <span class="register-text">Verify email</span>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 register-cirles">
            <div ng-show="mobileVerified" class="register-circle-checked">
                <span><i class="glyphicon glyphicon-ok"></i></span>
            </div>
            <div ng-click="goToGetVerified('/mobile/verify')" ng-hide="mobileVerified" class="register-circle-unchecked pointer">
                <span>2</span>
            </div>
            <span class="register-text">Verify mobile</span>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 register-cirles">
            <div ng-show="addressVerified=='v'" class="register-circle-checked">
                <span><i class="glyphicon glyphicon-ok"></i></span>
            </div>
            <div ng-click="goToGetVerified('/identity/verification')" ng-show="addressVerified=='p'" class="register-circle-pending pointer">
                <span>3</span>
            </div>
            <div ng-click="goToGetVerified('/identity/verification')" ng-hide="addressVerified!='n'" class="register-circle-unchecked pointer">
                <span>3</span>
            </div>
            <span class="register-text">Basic info</span>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 register-cirles">
            <div ng-show="idDocumentsVerified == 'v'" class="register-circle-checked">
                <span><i class="glyphicon glyphicon-ok"></i></span>
            </div>
            <div ng-click="goToGetVerified('/document/verify/ID')" ng-show="idDocumentsVerified == 'n'" class="register-circle-unchecked pointer">
                <span>4</span>
            </div>
            <div ng-click="goToGetVerified('/document/verify/ID')" ng-show="idDocumentsVerified == 'p'" class="register-circle-pending pointer">
                <span>4</span>
            </div>
            <div ng-click="goToGetVerified('/document/verify/ID')" ng-show="idDocumentsVerified == 'd'" class="register-circle-declined pointer">
                <span>4</span>
            </div>
            <span class="register-text">Proof of ID</span>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 register-cirles">
            <div ng-show="selfieDocumentsVerified == 'v'" class="register-circle-checked">
                <span><i class="glyphicon glyphicon-ok"></i></span>
            </div>
            <div ng-click="goToGetVerified('/document/verify/IDSelfie')" ng-show="selfieDocumentsVerified == 'n'" class="register-circle-unchecked pointer">
                <span>5</span>
            </div>
            <div ng-click="goToGetVerified('/document/verify/IDSelfie')" ng-show="selfieDocumentsVerified == 'p'" class="register-circle-pending pointer">
                <span>5</span>
            </div>
            <div ng-click="goToGetVerified('/document/verify/IDSelfie')" ng-show="selfieDocumentsVerified == 'd'" class="register-circle-declined pointer">
                <span>5</span>
            </div>
            <span class="register-text">Proof of ID selfie</span>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 register-cirles">
            <div ng-show="residenceDocumentsVerified == 'v'" class="register-circle-checked">
                <span><i class="glyphicon glyphicon-ok"></i></span>
            </div>
            <div ng-click="goToGetVerified('/document/verify/residence')" ng-show="residenceDocumentsVerified == 'n'" class="register-circle-unchecked pointer">
                <span>6</span>
            </div>
            <div ng-click="goToGetVerified('/document/verify/residence')" ng-show="residenceDocumentsVerified == 'p'" class="register-circle-pending pointer">
                <span>6</span>
            </div>
            <div ng-click="goToGetVerified('/document/verify/residence')" ng-show="residenceDocumentsVerified == 'd'" class="register-circle-declined pointer">
                <span>6</span>
            </div>
            <span class="register-text">Proof of address</span>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" ng-hide="loadingRegisterProgressView">
        <div ng-show="ethereumAddressVerified" class="register-circle-checked" style="margin-left: 12px;">
            <span><i class="glyphicon glyphicon-ok"></i></span>
        </div>
        <div ng-click="goToGetVerified('/ethereum/address')" ng-hide="ethereumAddressVerified" class="register-circle-unchecked pointer" style="margin-left: 12px;">
            <span>7</span>
        </div>
        <span class="register-text">Token address</span>
    </div>
    <div ng-show="loadingRegisterProgressView" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <loading-image></loading-image>
    </div>
</div>
