<div ng-hide="loadingUserDocuments" ba-panel ba-panel-title="Documents">
    <button ng-click="openAddUserDocumentModal('app/pages/users/userDetails/userDocuments/addUserDocumentModal/addUserDocumentModal.html','lg')"
            class="btn btn-primary pull-right user-accounts-btn divider">Add</button>
    <table ng-show="userDocuments.length > 0" class="table table-hover table-condensed table-striped user-details-table">
        <tr>
            <th><strong>Category</strong></th>
            <th><strong>Type</strong></th>
            <th><strong>Status</strong></th>
        </tr>
        <tr class="pointer" ng-repeat="document in userDocuments" ng-click="openUserDocumentModal('app/pages/users/userDetails/userDocuments/userDocumentModal/userDocumentModal.html','lg',document)">
            <th>{{document.document_category}}</th>
            <th>{{document.document_type}}</th>
            <th>{{document.verified}}</th>
        </tr>
    </table>
</div>
<div ba-panel ng-show="loadingUserDocuments">
    <loading-image></loading-image>
</div>