<div ba-panel  ba-panel-title="Confirm credit" ba-panel-class="light-text">
    <div class="confirm-transaction">
        <p>You are about to credit <strong>{{selectedCurrency.symbol}} {{creditData.amount}}</strong> to <strong>{{creditData.user}}</strong></p>
    </div>
    <div>
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-disabled="onGoingTransaction" ng-click="createCreditTransaction()" class="btn btn-primary pull-right">Confirm</button>
            <button ng-disabled="onGoingTransaction" ng-click="goToView('createCredit')" class="btn btn-primary pull-right margin-right-10">Back</button>
        </div>
    </div>
</div>
