<div ba-panel class="tier-form">
    <div>
        <h2>Transfer Limits</h2>
    </div>
    <div class="form-group">
        <label><strong>Minimum amount a user can transfer per transaction</strong></label>
        <input type="number" ng-model="withdrawalData.amount" class="form-control"  placeholder="Default is set to zero.">
    </div>
    <div class="form-group">
        <label><strong>Maximum total amount a user can transfer per day</strong></label>
        <input type="number" ng-model="withdrawalData.amount" class="form-control"  placeholder="Default is set to unlimited.">
    </div>
    <div class="form-group">
        <label><strong>Maximum total amount a user can transfer per month</strong></label>
        <input type="number" ng-model="withdrawalData.amount" class="form-control"  placeholder="Default is set to unlimited.">
    </div>
    <div>
        <h2>Withdrawal Limits</h2>
    </div>
    <div class="form-group">
        <label><strong>Minimum amount a user can withdraw per transaction</strong></label>
        <input type="number" ng-model="withdrawalData.amount" class="form-control"  placeholder="Default is set to zero.">
    </div>
    <div class="form-group">
        <label><strong>Maximum total amount a user can withdraw per day</strong></label>
        <input type="number" ng-model="withdrawalData.amount" class="form-control"  placeholder="Default is set to unlimited.">
    </div>
    <div class="form-group">
        <label><strong>Maximum total amount a user can withdraw per month</strong></label>
        <input type="number" ng-model="withdrawalData.amount" class="form-control"  placeholder="Default is set to unlimited.">
    </div>
    <div>
        <h2>Deposit Limits</h2>
    </div>
    <div class="form-group">
        <label><strong>Minimum amount a user can deposit per transaction</strong></label>
        <input type="number" ng-model="withdrawalData.amount" class="form-control"  placeholder="Default is set to zero.">
    </div>
    <div class="form-group">
        <label><strong>Maximum amount a user can deposit per day</strong></label>
        <input type="number" ng-model="withdrawalData.amount" class="form-control"  placeholder="Default is set to unlimited.">
    </div>
    <div class="form-group">
        <label><strong>Maximum amount a user can deposit per month</strong></label>
        <input type="number" ng-model="withdrawalData.amount" class="form-control"  placeholder="Default is set to unlimited.">
    </div>
    <button class="btn btn-primary pull-right" ng-click="saveLimitsTierRequirements()">Save</button>
</div>