<div ba-panel class="tier-form">
    <div>
        <h2>Transfer Limits</h2>
    </div>
    <div class="form-group">
        <label><b>Minimum amount a user can transfer per transaction</b></label>
        <input type="number" ng-model="withdrawalData.amount" class="form-control"  placeholder="Default is set to zero.">
    </div>
    <br>
    <div class="form-group">
        <label><b>Maximum total amount a user can transfer per day</b></label>
        <input type="number" ng-model="withdrawalData.amount" class="form-control"  placeholder="Default is set to unlimited.">
    </div>
    <br>
    <div class="form-group">
        <label><b>Maximum total amount a user can transfer per month</b></label>
        <input type="number" ng-model="withdrawalData.amount" class="form-control"  placeholder="Default is set to unlimited.">
    </div>
    <div>
        <h2>Withdrawal Limits</h2>
    </div>
    <div class="form-group">
        <label><b>Minimum amount a user can withdraw per transaction</b></label>
        <input type="number" ng-model="withdrawalData.amount" class="form-control"  placeholder="Default is set to zero.">
    </div>
    <br>
    <div class="form-group">
        <label><b>Maximum total amount a user can withdraw per day</b></label>
        <input type="number" ng-model="withdrawalData.amount" class="form-control"  placeholder="Default is set to unlimited.">
    </div>
    <br>
    <div class="form-group">
        <label><b>Maximum total amount a user can withdraw per month</b></label>
        <input type="number" ng-model="withdrawalData.amount" class="form-control"  placeholder="Default is set to unlimited.">
    </div>
    <div>
        <h2>Deposit Limits</h2>
    </div>
    <div class="form-group">
        <label><b>Minimum amount a user can deposit per transaction</b></label>
        <input type="number" ng-model="withdrawalData.amount" class="form-control"  placeholder="Default is set to zero.">
    </div>
    <br>
    <div class="form-group">
        <label><b>Maximum amount a user can deposit per day</b></label>
        <input type="number" ng-model="withdrawalData.amount" class="form-control"  placeholder="Default is set to unlimited.">
    </div>
    <br>
    <div>
        <label><b>Maximum amount a user can deposit per month</b></label>
        <input type="number" ng-model="withdrawalData.amount" class="form-control"  placeholder="Default is set to unlimited.">
    </div>
    <button class="btn btn-primary pull-right" ng-click="saveLimitsTierRequirements()">Save</button>
</div>