<div ba-panel class="menu-box" ba-panel-class="light-text">
    <div class="menu-hex-container">
        <div class="hexagon"></div>
        <div class="hex-over">{{currencyCode}}</div>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('allowedLimits')" class="pointer menu-box-options">
        <h5>Account Currency Limits <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('customLimits')" class="pointer menu-box-options">
        <h5>Custom Limits <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('switches')" class="pointer menu-box-options">
        <h5>Account Currency Switches<i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
</div>
