<div ba-panel class="menu-box" ba-panel-class="light-text">
    <div class="menu-hex-container">
        <div class="hexagon"></div>
        <div class="hex-over">{{currencyCode}}</div>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('limits')" class="pointer menu-box-options">
        <h5>Account currency limits <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('fees')" class="pointer menu-box-options">
        <h5>Account currency fees <i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
    <div ng-click="goToSetting('switches')" class="pointer menu-box-options">
        <h5>Account currency switches<i class="pull-right ion-chevron-right"></i></h5>
    </div>
    <hr class="no-margin">
</div>
