<div ng-hide="loadingUserBankAccount" ba-panel ba-panel-title="Edit user bank account" ba-panel-class="light-text with-scroll">
    <form name="editUserBankAccountForm" class="custom-form">
        <div class="form-group">
            <label><strong>Name</strong></label>
            <input type="text" class="form-control" ng-change="userBankAccountChanged('name')" ng-model="editUserBankAccount.name" placeholder="Enter name"/>
        </div>
        <div class="form-group">
            <label><strong>Number</strong></label>
            <input type="text" class="form-control" ng-change="userBankAccountChanged('number')" ng-model="editUserBankAccount.number" placeholder="Enter number"/>
        </div>
        <div class="form-group">
            <label><strong>Type</strong></label>
            <input type="text" class="form-control" ng-change="userBankAccountChanged('type')" ng-model="editUserBankAccount.type" placeholder="Enter type"/>
        </div>
        <div class="form-group">
            <label><strong>Bank name</strong></label>
            <input type="text" class="form-control" ng-change="userBankAccountChanged('bank_name')" ng-model="editUserBankAccount.bank_name" placeholder="Enter bank name"/>
        </div>
        <div class="form-group">
            <label><strong>Bank code</strong></label>
            <input type="text" class="form-control" ng-change="userBankAccountChanged('bank_code')" ng-model="editUserBankAccount.bank_code" placeholder="Enter bank code"/>
        </div>
        <div class="form-group">
            <label><strong>Branch code</strong></label>
            <input type="text" class="form-control" ng-change="userBankAccountChanged('branch_code')" ng-model="editUserBankAccount.branch_code" placeholder="Enter branch code"/>
        </div>
        <div class="form-group">
            <label><strong>Swift</strong></label>
            <input type="text" class="form-control" ng-change="userBankAccountChanged('swift')" ng-model="editUserBankAccount.swift" placeholder="Enter swift"/>
        </div>
        <div class="form-group">
            <label><strong>Iban</strong></label>
            <input type="text" class="form-control" ng-change="userBankAccountChanged('iban')" ng-model="editUserBankAccount.iban" placeholder="Enter iban"/>
        </div>
        <div class="form-group">
            <label><strong>Bic</strong></label>
            <input type="text" class="form-control" ng-change="userBankAccountChanged('bic')" ng-model="editUserBankAccount.bic" placeholder="Enter bic"/>
        </div>
        <div class="form-group">
            <button ng-click="updateUserBankAccount()" ng-disabled="!editUserBankAccountForm.$valid" class="btn btn-primary user-accounts-btn pull-right">Save</button>
            <button ng-click="toggleEditUserBankAccountView()" class="btn btn-primary user-accounts-btn pull-right margin-right-10">Back</button>
        </div>
    </form>
</div>