<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">Delete Account Currency Switches</h4>
    </div>
    <div class="modal-body">
        <p>Tx Type: {{accountCurrencySwitch.tx_type | capitalizeWord}}</p>
        <p>Subtype: {{accountCurrencySwitch.subtype ? accountCurrencySwitch.subtype : 'None'}}</p>
        <p>Enabled: {{accountCurrencySwitch.enabled | capitalizeWord}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-left" ng-click="$dismiss()">Close</button>
        <button ng-click="deleteAccountCurrencySwitch()" ng-disabled="deletingAccountCurrencySwitches" type="button" class="btn btn-danger pull-right">Delete</button>
    </div>
</div>
