<div ba-panel ba-panel-title="Latest Transactions" ba-panel-class=" with-scroll" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div ng-show="transactions.length > 0" class="divider">
    <table class="table table-condensed table-striped table-hover ">
        <tr class="black-muted-bg">
            <td><b>From</b></td>
            <td><b>To</b></td>
            <td><b>Type</b></td>
            <td><b>Subtype</b></td>
            <td><b>Currency</b></td>
            <td><b>Amount</b></td>
            <td><b>Fee</b></td>
            <td><b>Status</b></td>
            <td><b>Date</b></td>
        </tr>
        <tr ng-repeat="transaction in transactions " data-toggle="modal"
            ng-click="openModal('app/pages/dashboard/latestTransactions/transactionModal/transactionModal.html', 'md',transaction)"
            class="editable-row center pointer">
            <td><div title="{{transaction.from_reference}}" class="history-table" ng-bind="transaction.from_reference"></div></td>
            <td><div title="{{transaction.to_reference}}" class="history-table" ng-bind="transaction.to_reference"></div></td>
            <td><div title="{{transaction.tx_type}}" class="history-table" ng-bind="transaction.tx_type"></div></td>
            <td><div title="{{transaction.subtype}}" class="history-table" ng-bind="transaction.subtype || 'None'"></div></td>
            <td><div title="{{transaction.currency.code}}" class="history-table" ng-bind="transaction.currency.code"></div></td>
            <td><div title="{{transaction.amount}}" class="history-table" ng-bind="transaction.amount"></div></td>
            <td><div title="{{transaction.fee}}" class="history-table" ng-bind="transaction.fee"></div></td>
            <td><div title="{{transaction.status}}" class="history-table" ng-bind="transaction.status"></div></td>
            <td><div title="{{transaction.created | date:'mediumDate'}} {{transaction.created | date:'shortTime'}}" class="history-table">
              {{transaction.created | date:'mediumDate'}} {{transaction.created | date:'shortTime'}}</div></td>
        </tr>
    </table>
    </div>
    <div ng-show="transactions.length == 0">
        <h4 ng-hide="transactionsStateMessage == ''" ng-bind="transactionsStateMessage"></h4>
        <loading-image ng-show="transactionsStateMessage == ''"></loading-image>
    </div>
    <div class="add-row-editable-table">
        <a href="/#/transactions/history"><button class="btn btn-primary pull-right" ng-click="">View All</button></a>
    </div>
</div>
