<div>
    <div class="panel">
        <div class="panel-heading"><h2 class="custom-buy-with-header">Make ether payment</h2></div>
        <div class="col-md-12">
            <div class="col-md-12 make-payment-notice">
                You are buying <span
                    title="{{ quoteeth.token_amount | currencyModifiersFilter: quoteeth.token_currency.divisibility | preciseRound: quoteeth.token_currency.divisibility}}"
                    class="transactions-list-element"
                    ng-bind="quoteeth.token_amount | currencyModifiersFilter: quoteeth.token_currency.divisibility | preciseRound: quoteeth.token_currency.divisibility"></span>
                ECH.
                <br>
                Follow the instructions below.
            </div>
            <div class="col-md-12">
                <div class="col-md-6 make-payment-image">
                    <img ng-src="{{ethereumAddress.crypto.qr_code}}" width="100%"/>
                </div>
                <div class="col-md-6" style="float: right">
                    <div class="row make-payment-scan">
                        Scan the QR code to make a payment with your mobile wallet.
                    </div>
                    <div class="row">
                        <button class="btn btn-primary make-payment-copy" ngclipboard
                                data-clipboard-text="{{ethereumAddress.crypto.address}}" ng-click="addressCopied()">
                            Copy to clipboard
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 make-payment-final">
                Send Exactly ETH <span
                    title="{{ quoteeth.deposit_amount | currencyModifiersFilter: quoteeth.deposit_currency.divisibility | preciseRound: quoteeth.deposit_currency.divisibility}}"
                    class="transactions-list-element"
                    ng-bind="quoteeth.deposit_amount | currencyModifiersFilter: quoteeth.deposit_currency.divisibility | preciseRound: quoteeth.deposit_currency.divisibility"></span>
                (plus miner fee) to <b style="font-size:12px;">{{ethereumAddress.crypto.address}}</b>
            </div>
        </div>
        <div class="panel-body">
            <button ng-click="cancelEth()" class="btn btn-primary pull-right make-payment-cancel">Cancel</button>
            <p class="pull-right make-payment-time">{{qouteEthTime}}</p>
        </div>
    </div>
</div>
