<div ng-hide="loadingUserAccountInfo || showUserEmails || showAddUserEmail || showUserNumbers || showAddUserNumber"
     ba-panel ba-panel-title="Account info" >
    <table class="table table-condensed table-striped user-details-table">
        <tr ng-show="user.identifier">
            <th width="83%"><strong>Identifier</strong></th>
            <th></th>
        </tr>
        <tr ng-show="user.identifier">
            <th width="83%" ng-bind="user.identifier"></th>
            <th></th>
        </tr>
        <tr ng-show="emailsList.length > 0">
            <th width="83%"><strong>Primary email address</strong></th>
            <th></th>
        </tr>
        <tr ng-show="emailsList.length > 0" ng-repeat="email in emailsList | filter: {primary: true}">
            <th width="83%" ng-bind="email.email"></th>
            <th class="custom-table-th rehive-table-row-last-child"><button class="btn btn-primary pull-right user-accounts-btn"
                                                                                      ng-click="toggleUserEmailsView()">View all</button></th>
        </tr>
        <tr ng-show="mobilesList.length > 0">
            <th width="83%"><strong>Primary mobile number</strong></th>
            <th></th>
        </tr>
        <tr ng-show="mobilesList.length > 0" ng-repeat="mobile in mobilesList | filter: {primary: true}">
            <th width="83%" ng-bind="mobile.number"></th>
            <th class="custom-table-th rehive-table-row-last-child"><button class="btn btn-primary pull-right user-accounts-btn"
                                                ng-click="toggleUserNumbersView()">View all</button></th>
        </tr>
    </table>
</div>
<div ba-panel ng-show="loadingUserAccountInfo">
    <loading-image></loading-image>
</div>
<div ng-show="showUserEmails">
    <user-emails></user-emails>
</div>
<div ng-show="showAddUserEmail">
    <add-user-email></add-user-email>
</div>
<div ng-show="showUserNumbers">
    <user-numbers></user-numbers>
</div>
<div ng-show="showAddUserNumber">
    <add-user-number></add-user-number>
</div>