<div ba-panel ba-panel-title="Global Controls">
    <div class="divider">
        <p class="divider"><b>Transaction Controls:</b></p>
        <div>
            <label  class="checkbox-inline custom-checkbox nowrap">
                <input type="checkbox"  ng-model="depositData.confirm_on_create">
                <span>Allow transactions</span>
            </label>
        </div>
    </div>
    <hr>
    <div class="margin-bottom-ten-px">
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input  type="checkbox"  ng-model="depositData.confirm_on_create">
            <span>Allow transfer transactions</span>
        </label>
    </div>
    <div class="margin-bottom-ten-px">
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input  type="checkbox"  ng-model="depositData.confirm_on_create">
            <span> Allow deposit transactions</span>
        </label>
    </div>
    <div class="margin-bottom-ten-px">
        <label  class="checkbox-inline custom-checkbox nowrap">
            <input  type="checkbox"  ng-model="depositData.confirm_on_create">
            <span>Allow withdraw transactions</span>
        </label>
    </div>
    <hr>
    <div class="divider">
        <p class="divider"><b>Verifications Controls:</b></p>
        <div>
            <label  class="checkbox-inline custom-checkbox nowrap">
                <input  type="checkbox"  ng-model="depositData.confirm_on_create">
                <span>Verification is required for transactions</span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <button  class="btn btn-primary pull-right">Save</button>
    </div>
    </div>
</div>
